In [52]:
import pandas as pd
import numpy as np

In [53]:
loan1 = pd.read_csv('loan.csv')

C:\Users\Sailen\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
loan1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
check_null = loan1.isnull().sum(axis=0)/float(len(loan1))
check_null[check_null>0.7]

desc                           0.857976
mths_since_last_record         0.845553
mths_since_last_major_derog    0.750160
annual_inc_joint               0.999424
dti_joint                      0.999426
verification_status_joint      0.999424
open_acc_6m                    0.975916
open_il_6m                     0.975916
open_il_12m                    0.975916
open_il_24m                    0.975916
mths_since_rcnt_il             0.976549
total_bal_il                   0.975916
il_util                        0.979020
open_rv_12m                    0.975916
open_rv_24m                    0.975916
max_bal_bc                     0.975916
all_util                       0.975916
inq_fi                         0.975916
total_cu_tl                    0.975916
inq_last_12m                   0.975916
dtype: float64

In [56]:
loan1.drop(check_null[check_null>0.7].index, axis=1, inplace=True)

In [27]:
loan1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,171.62,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,119.66,NaN,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,649.91,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,357.48,NaN,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,67.79,Feb-2016,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN

In [28]:
loan1.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [8]:
loan1.groupby('application_type').size().sort_values()

application_type
JOINT            511
INDIVIDUAL    886868
dtype: int64

In [9]:
loan1.dropna(axis=0, thresh=30, inplace=True)

In [57]:
delete = ['policy_code', 'pymnt_plan', 'url', 'id', 'member_id', 'application_type', 'acc_now_delinq','emp_title', 'zip_code','title']
loan1.drop(delete, axis=1, inplace=True)

In [58]:
loan1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

In [31]:
loan1.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [59]:
loan1['term'] = loan1['term'].str.split(' ').str[1]
loan1

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.000000,36,10.65,162.87,B,B2,10+ years,RENT,...,0.00,0.0000,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.000000,60,15.27,59.83,C,C4,< 1 year,RENT,...,117.08,1.1100,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.000000,36,15.96,84.33,C,C5,10+ years,RENT,...,0.00,0.0000,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.000000,36,13.49,339.31,C,C1,10+ years,RENT,...,0.00,0.0000,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.000000,60,12.69,67.79,B,B5,1 year,RENT,...,0.00,0.0000,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN
5,5000.0,5000.0,5000.000000,36,7.90,156.46,A,A4,3 years,RENT,...,0.00,0.0000,Jan-2015,161.03,NaN,Sep-2015,0.0,NaN,NaN,NaN
6,7000.0,7000.0,7000.000000,60,15.96,170.08,C,C5,8 years,RENT,...,0.00,0.0000,Jan-2016,170.08,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN
7,3000.0,3000.0,3000.000000,36,18.64,109.43,E,E1,9 years,RENT,...,0.00,0.0000,Jan-2015,111.34,NaN,Dec-2014,0.0,NaN,NaN,NaN
8,5600.0,5600.0,5600.000000,60,21.28,152.39,F,F2,4 years,OWN,...,189.06,2.0900,Apr-2012,152.39,NaN,Aug-2012,0.0,NaN,NaN,NaN
9,5375.0,5375.0,5350.000000,60,12.69,121.45,B,B5,< 1 year,RENT,...,269.29,2.5200,Nov-2012,121.45,NaN,Mar-2013,0.0,NaN,NaN,NaN
10,6500.0,6500.0,6500.000000,60,14.65,153.45,C,C3,5 years,OWN,...,0.00,0.0000,Jun-2013,1655.54,NaN,Dec-2015,0.0,NaN,NaN,NaN
11,12000.0,12000.0,12000.000000,36,12.69,402.54,B,B5,10+ years,OWN,...,0.00,0.0000,Sep-2013,6315.30,NaN,Aug-2013,0.0,NaN,NaN,NaN
12,9000.0,9000.0,9000.000000,36,13.49,305.38,C,C1,< 1 year,RENT,...,444.30,4.1600,Jul-2012,305.38,NaN,Nov-2012,0.0,NaN,NaN,NaN
13,3000.0,3000.0,3000.000000,36,9.91,96.68,B,B1,3 years,RENT,...,0.00,0.0000,Jan-2015,102.43,NaN,Jan-2016,0.0,NaN,NaN,NaN
14,10000.0,10000.0,10000.000000,36,10.65,325.74,B,B2,3 years,RENT,...,645.10,6.3145,Oct-2013,325.74,NaN,Mar-2014,0.0,NaN,NaN,NaN
15,1000.0,1000.0,1000.000000,36,16.29,35.31,D,D1,< 1 year,RENT,...,0.00,0.0000,Jan-2015,36.32,NaN,Jan-2016,0.0,NaN,NaN,NaN
16,10000.0,10000.0,10000.000000,36,15.27,347.98,C,C4,4 years,RENT,...,0.00,0.0000,Jan-2015,370.46,NaN,Apr-2015,0.0,NaN,NaN,NaN
17,3600.0,3600.0,3600.000000,36,6.03,109.57,A,A1,10+ years,MORTGAGE,...,0.00,0.0000,May-2013,583.45,NaN,May-2014,0.0,NaN,NaN,NaN
18,6000.0,6000.0,6000.000000,36,11.71,198.46,B,B3,1 year,MORTGAGE,...,0.00,0.0000,Feb-2015,16.98,NaN,Jul-2015,0.0,NaN,NaN,NaN
19,9200.0,9200.0,9200.000000,36,6.03,280.01,A,A1,6 years,RENT,...,0.00,0.0000,Jul-2012,8061.10,NaN,Jul-2012,0.0,NaN,NaN,NaN
20,20250.0,20250.0,19142.161077,60,15.27,484.63,C,C4,3 years,RENT,...,0.00,0.0000,Aug-2015,6024.09,NaN,Dec-2015,0.0,NaN,NaN,NaN
21,21000.0,21000.0,21000.000000,36,12.42,701.73,B,B4,10+ years,RENT,...,0.00,0.0000,Sep-2013,701.73,NaN,Jan-2016,0.0,NaN,NaN,NaN
22,10000.0,10000.0,10000.000000,36,11.71,330.76,B,B3,10+ years,OWN,...,0.00,0.0000,Jan-2015,349.21,NaN,Jan-2016,0.0,NaN,NaN,NaN
23,10000.0,10000.0,10000.000000,36,11.71,330.76,B,B3,5 years,RENT,...,0.00,0.0000,Oct-2013,4942.63,NaN,Mar-2014,0.0,NaN,NaN,NaN
24,6000.0,6000.0,6000.000000,36,11.71,198.46,B,B3,1 year,RENT,...,269.31,2.5700,Oct-2012,198.46,NaN,Mar-2013,0.0,NaN,NaN,NaN
25,15000.0,15000.0,15000.000000,36,9.91,483.38,B,B1,2 years,MORTGAGE,...,0.00,0.0000,Sep-2012,2447.05,NaN,Sep-2012,0.0,NaN,NaN,NaN
26,15000.0,15000.0,8725.000000,36,14.27,514.64,C,C2,9 years,RENT,...,0.00,0.0000,NaN,0.00,NaN,Jan-2016,0.0,NaN,NaN,NaN
27,5000.0,5000.0,5000.000000,60,16.77,123.65,D,D2,2 years,RENT,...,260.96,2.3000,Dec-2012,123.65,NaN,May-2013,0.0,NaN,NaN,NaN
28,4000.0,4000.0,4000.000000,36,11.71,132.31,B,B3,10+ years,MORTGAGE,...,0.00,0.0000,Apr-2013,2638.77,NaN,Jan-2016,0.0,NaN,NaN,NaN
29,8500.0,8500.0,8500.000000,36,11.71,281.15,B,B3,< 1 year,RENT,...,0.00,0.0000,Dec-2014,581.59,NaN,Jan-2015,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36,6.99,617.46,A,A3,2 years,MORTGAGE,...,0.00,0.0000,Jan-2016,617.46,Feb-2016,Jan-2016,0.0,0.0,388140.0,39700.0
887350,10300.0,10300.0,10300.000000,60,13.66,237.86,C,C3,10+ years,RENT,...,0.00,0.0000,Jan-2016,237.86,Feb-2016,Jan-2016,0.0,50.0,41956.0,22000.0
887351,4200.0,4200.0,4200.000000,36,15.99,147.64,D,D2,10+ years,MORTGAGE,...,0.00,0.0000,Aug-2015,147.64,NaN,Jan-2016,0.0,0.0,207975.0,20400.0
887352,15000.0,15000.0,15000.000000,36,11.99,498.15,B,B5,< 1 year,RENT,...,0.00,0.0000,Jan-2016,498.15,Feb-2016,Jan-2016,0.0,0.0,15724.0,9700.0
887353,15000.0,15000.0,15000.000000,60,11.44,329.44,B,B4,4 years,RENT,...,0.00,0.0000,Jan-2016,329.44,Feb-2016,Jan-2016,0.0,0.0,33529.0,26100.0
887354,6000.0,6000.0,6000.000000,36,17.86,216.50,D,D5,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,216.50,Feb-2016,Jan-2016,0.0,0.0,384500.0,8500.0
887355,26950.0,26950.0,26950.000000,36,8.19,846.88,A,A5,n/a,RENT,...,0.00,0.0000,Jan-2016,846.88,Feb-2016,Jan-2016,0.0,0.0,41650.0,129100.0
887356,23000.0,23000.0,23000.000000,60,15.59,554.32,D,D1,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,554.32,Feb-2016,Jan-2016,0.0,0.0,48978.0,65600.0
887357,18700.0,18700.0,18700.000000,60,17.86,473.44,D,D5,10+ years,RENT,...,0.00,0.0000,Jan-2016,473.44,Feb-2016,Jan-2016,0.0,0.0,40164.0,10200.0
887358,25000.0,25000.0,25000.000000,60,15.99,607.82,D,D2,3 years,RENT,...,0.00,0.0000,Jan-2016,607.82,Feb-2016,Jan-2016,0.0,0.0,17275.0,18700.0
887359,25000.0,25000.0,25000.000000,60,15.59,602.52,D,D1,n/a,OWN,...,0.00,0.0000,Jan-2016,602.52,Feb-2016,Jan-2016,0.0,0.0,13860.0,24400.0
887360,26500.0,26500.0,26500.000000,60,8.67,545.87,B,B1,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,545.87,Feb-2016,Jan-2016,0.0,0.0,115511.0,118600.0
887361,21000.0,21000.0,21000.000000,36,6.03,639.15,A,A1,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,639.15,Feb-2016,Jan-2016,0.0,0.0,212337.0,76300.0
887362,8000.0,8000.0,8000.000000,36,8.19,251.40,A,A5,9 years,MORTGAGE,...,0.00,0.0000,Jan-2016,251.40,Feb-2016,Jan-2016,0.0,0.0,211412.0,7300.0
887363,12000.0,12000.0,12000.000000,36,9.49,384.34,B,B2,4 years,RENT,...,0.00,0.0000,Jan-2016,384.34,Feb-2016,Jan-2016,0.0,0.0,20671.0,11900.0
887364,10775.0,10775.0,10775.000000,36,6.03,327.95,A,A1,< 1 year,RENT,...,0.00,0.0000,Jul-2015,9439.34,NaN,Jun-2015,0.0,0.0,24696.0,41700.0
887365,7000.0,7000.0,7000.000000,36,14.31,240.30,C,C4,10+ years,RENT,...,0.00,0.0000,Jan-2016,240.30,Feb-2016,Jan-2016,0.0,0.0,32135.0,9900.0
887366,6225.0,6225.0,6225.000000,36,16.49,220.37,D,D3,2 years,RENT,...,0.00,0.0000,Dec-2015,4858.17,NaN,Dec-2015,0.0,0.0,8357.0,1800.0
887367,10000.0,10000.0,10000.000000,36,6.49,306.45,A,A2,1 year,RENT,...,0.00,0.0000,Jan-2016,306.45,Feb-2016,Jan-2016,0.0,0.0,88120.0,30300.0
887368,13150.0,13150.0,13150.000000,60,14.99,312.77,C,C5,8 years,MORTGAGE,...,0.00,0.0000,Jan-2016,312.77,Feb-2016,Mar-2015,0.0,0.0,158977.0,20700.0
887369,4000.0,4000.0,4000.000000,36,8.67,126.59,B,B1,10+ years,MORTGAGE,...,0.00,0.0000,Jun-2015,3655.51,NaN,Nov-2015,0.0,0.0,18979.0,30100.0
887370,7500.0,7500.0,7500.000000,36,9.49,240.22,B,B2,8 years,RENT,...,0.00,0.0000,Jan-2016,240.22,Feb-2016,Jan-2016,0.0,3174.0,18611.0,14500.0
887371,10850.0,10850.0,10850.000000,36,19.24,399.04,E,E2,n/a,OWN,...,0.00,0.0000,Aug-2015,25.00,NaN,Jan-2016,0.0,972.0,53777.0,16800.0
887372,12000.0,12000.0,12000.000000,36,11.99,398.52,B,B5,< 1 year,MORTGAGE,...,0.00,0.0000,Jan-2016,398.52,Feb-2016,Jan-2016,0.0,0.0,237002.0,30300.0
887373,11575.0,11575.0,11575.000000,36,15.59,404.61,D,D1,10+ years,RENT,...,0.00,0.0000,Jan-2016,404.61,Feb-2016,Jan-2016,0.0,0.0,19798.0,28100.0
887374,10000.0,10000.0,10000.000000,36,11.99,332.10,B,B5,8 years,RENT,...,0.00,0.0000,Jan-2016,332.10,Feb-2016,Jan-2016,0.0,0.0,25274.0,17100.0
887375,24000.0,24000.0,24000.000000,36,11.99,797.03,B,B5,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,797.03,Feb-2016,Jan-2016,0.0,0.0,140285.0,10200.0
887376,13000.0,13000.0,13000.000000,60,15.99,316.07,D,D2,5 years,RENT,...,0.00,0.0000,Jan-2016,316.07,Feb-2016,Jan-2016,0.0,0.0,34178.0,18000.0
887377,12000.0,12000.0,12000.000000,60,19.99,317.86,E,E3,1 year,RENT,...,0.00,0.0000,Jan-2016,317.86,Feb-2016,Jan-2016,1.0,0.0,58418.0,27000.0
887378,20000.0,20000.0,20000.000000,36,11.99,664.20,B,B5,10+ years,RENT,...,0.00,0.0000,Jan-2016,664.20,Feb-2016,Jan-2016,0.0,0.0,33307.0,41700.0

In [61]:
loan1['int_rate'] = loan1.int_rate.astype(float)/100.
loan1

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.000000,36,0.1065,162.87,B,B2,10+ years,RENT,...,0.00,0.0000,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.000000,60,0.1527,59.83,C,C4,< 1 year,RENT,...,117.08,1.1100,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.000000,36,0.1596,84.33,C,C5,10+ years,RENT,...,0.00,0.0000,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.000000,36,0.1349,339.31,C,C1,10+ years,RENT,...,0.00,0.0000,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.000000,60,0.1269,67.79,B,B5,1 year,RENT,...,0.00,0.0000,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN
5,5000.0,5000.0,5000.000000,36,0.0790,156.46,A,A4,3 years,RENT,...,0.00,0.0000,Jan-2015,161.03,NaN,Sep-2015,0.0,NaN,NaN,NaN
6,7000.0,7000.0,7000.000000,60,0.1596,170.08,C,C5,8 years,RENT,...,0.00,0.0000,Jan-2016,170.08,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN
7,3000.0,3000.0,3000.000000,36,0.1864,109.43,E,E1,9 years,RENT,...,0.00,0.0000,Jan-2015,111.34,NaN,Dec-2014,0.0,NaN,NaN,NaN
8,5600.0,5600.0,5600.000000,60,0.2128,152.39,F,F2,4 years,OWN,...,189.06,2.0900,Apr-2012,152.39,NaN,Aug-2012,0.0,NaN,NaN,NaN
9,5375.0,5375.0,5350.000000,60,0.1269,121.45,B,B5,< 1 year,RENT,...,269.29,2.5200,Nov-2012,121.45,NaN,Mar-2013,0.0,NaN,NaN,NaN
10,6500.0,6500.0,6500.000000,60,0.1465,153.45,C,C3,5 years,OWN,...,0.00,0.0000,Jun-2013,1655.54,NaN,Dec-2015,0.0,NaN,NaN,NaN
11,12000.0,12000.0,12000.000000,36,0.1269,402.54,B,B5,10+ years,OWN,...,0.00,0.0000,Sep-2013,6315.30,NaN,Aug-2013,0.0,NaN,NaN,NaN
12,9000.0,9000.0,9000.000000,36,0.1349,305.38,C,C1,< 1 year,RENT,...,444.30,4.1600,Jul-2012,305.38,NaN,Nov-2012,0.0,NaN,NaN,NaN
13,3000.0,3000.0,3000.000000,36,0.0991,96.68,B,B1,3 years,RENT,...,0.00,0.0000,Jan-2015,102.43,NaN,Jan-2016,0.0,NaN,NaN,NaN
14,10000.0,10000.0,10000.000000,36,0.1065,325.74,B,B2,3 years,RENT,...,645.10,6.3145,Oct-2013,325.74,NaN,Mar-2014,0.0,NaN,NaN,NaN
15,1000.0,1000.0,1000.000000,36,0.1629,35.31,D,D1,< 1 year,RENT,...,0.00,0.0000,Jan-2015,36.32,NaN,Jan-2016,0.0,NaN,NaN,NaN
16,10000.0,10000.0,10000.000000,36,0.1527,347.98,C,C4,4 years,RENT,...,0.00,0.0000,Jan-2015,370.46,NaN,Apr-2015,0.0,NaN,NaN,NaN
17,3600.0,3600.0,3600.000000,36,0.0603,109.57,A,A1,10+ years,MORTGAGE,...,0.00,0.0000,May-2013,583.45,NaN,May-2014,0.0,NaN,NaN,NaN
18,6000.0,6000.0,6000.000000,36,0.1171,198.46,B,B3,1 year,MORTGAGE,...,0.00,0.0000,Feb-2015,16.98,NaN,Jul-2015,0.0,NaN,NaN,NaN
19,9200.0,9200.0,9200.000000,36,0.0603,280.01,A,A1,6 years,RENT,...,0.00,0.0000,Jul-2012,8061.10,NaN,Jul-2012,0.0,NaN,NaN,NaN
20,20250.0,20250.0,19142.161077,60,0.1527,484.63,C,C4,3 years,RENT,...,0.00,0.0000,Aug-2015,6024.09,NaN,Dec-2015,0.0,NaN,NaN,NaN
21,21000.0,21000.0,21000.000000,36,0.1242,701.73,B,B4,10+ years,RENT,...,0.00,0.0000,Sep-2013,701.73,NaN,Jan-2016,0.0,NaN,NaN,NaN
22,10000.0,10000.0,10000.000000,36,0.1171,330.76,B,B3,10+ years,OWN,...,0.00,0.0000,Jan-2015,349.21,NaN,Jan-2016,0.0,NaN,NaN,NaN
23,10000.0,10000.0,10000.000000,36,0.1171,330.76,B,B3,5 years,RENT,...,0.00,0.0000,Oct-2013,4942.63,NaN,Mar-2014,0.0,NaN,NaN,NaN
24,6000.0,6000.0,6000.000000,36,0.1171,198.46,B,B3,1 year,RENT,...,269.31,2.5700,Oct-2012,198.46,NaN,Mar-2013,0.0,NaN,NaN,NaN
25,15000.0,15000.0,15000.000000,36,0.0991,483.38,B,B1,2 years,MORTGAGE,...,0.00,0.0000,Sep-2012,2447.05,NaN,Sep-2012,0.0,NaN,NaN,NaN
26,15000.0,15000.0,8725.000000,36,0.1427,514.64,C,C2,9 years,RENT,...,0.00,0.0000,NaN,0.00,NaN,Jan-2016,0.0,NaN,NaN,NaN
27,5000.0,5000.0,5000.000000,60,0.1677,123.65,D,D2,2 years,RENT,...,260.96,2.3000,Dec-2012,123.65,NaN,May-2013,0.0,NaN,NaN,NaN
28,4000.0,4000.0,4000.000000,36,0.1171,132.31,B,B3,10+ years,MORTGAGE,...,0.00,0.0000,Apr-2013,2638.77,NaN,Jan-2016,0.0,NaN,NaN,NaN
29,8500.0,8500.0,8500.000000,36,0.1171,281.15,B,B3,< 1 year,RENT,...,0.00,0.0000,Dec-2014,581.59,NaN,Jan-2015,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36,0.0699,617.46,A,A3,2 years,MORTGAGE,...,0.00,0.0000,Jan-2016,617.46,Feb-2016,Jan-2016,0.0,0.0,388140.0,39700.0
887350,10300.0,10300.0,10300.000000,60,0.1366,237.86,C,C3,10+ years,RENT,...,0.00,0.0000,Jan-2016,237.86,Feb-2016,Jan-2016,0.0,50.0,41956.0,22000.0
887351,4200.0,4200.0,4200.000000,36,0.1599,147.64,D,D2,10+ years,MORTGAGE,...,0.00,0.0000,Aug-2015,147.64,NaN,Jan-2016,0.0,0.0,207975.0,20400.0
887352,15000.0,15000.0,15000.000000,36,0.1199,498.15,B,B5,< 1 year,RENT,...,0.00,0.0000,Jan-2016,498.15,Feb-2016,Jan-2016,0.0,0.0,15724.0,9700.0
887353,15000.0,15000.0,15000.000000,60,0.1144,329.44,B,B4,4 years,RENT,...,0.00,0.0000,Jan-2016,329.44,Feb-2016,Jan-2016,0.0,0.0,33529.0,26100.0
887354,6000.0,6000.0,6000.000000,36,0.1786,216.50,D,D5,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,216.50,Feb-2016,Jan-2016,0.0,0.0,384500.0,8500.0
887355,26950.0,26950.0,26950.000000,36,0.0819,846.88,A,A5,n/a,RENT,...,0.00,0.0000,Jan-2016,846.88,Feb-2016,Jan-2016,0.0,0.0,41650.0,129100.0
887356,23000.0,23000.0,23000.000000,60,0.1559,554.32,D,D1,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,554.32,Feb-2016,Jan-2016,0.0,0.0,48978.0,65600.0
887357,18700.0,18700.0,18700.000000,60,0.1786,473.44,D,D5,10+ years,RENT,...,0.00,0.0000,Jan-2016,473.44,Feb-2016,Jan-2016,0.0,0.0,40164.0,10200.0
887358,25000.0,25000.0,25000.000000,60,0.1599,607.82,D,D2,3 years,RENT,...,0.00,0.0000,Jan-2016,607.82,Feb-2016,Jan-2016,0.0,0.0,17275.0,18700.0
887359,25000.0,25000.0,25000.000000,60,0.1559,602.52,D,D1,n/a,OWN,...,0.00,0.0000,Jan-2016,602.52,Feb-2016,Jan-2016,0.0,0.0,13860.0,24400.0
887360,26500.0,26500.0,26500.000000,60,0.0867,545.87,B,B1,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,545.87,Feb-2016,Jan-2016,0.0,0.0,115511.0,118600.0
887361,21000.0,21000.0,21000.000000,36,0.0603,639.15,A,A1,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,639.15,Feb-2016,Jan-2016,0.0,0.0,212337.0,76300.0
887362,8000.0,8000.0,8000.000000,36,0.0819,251.40,A,A5,9 years,MORTGAGE,...,0.00,0.0000,Jan-2016,251.40,Feb-2016,Jan-2016,0.0,0.0,211412.0,7300.0
887363,12000.0,12000.0,12000.000000,36,0.0949,384.34,B,B2,4 years,RENT,...,0.00,0.0000,Jan-2016,384.34,Feb-2016,Jan-2016,0.0,0.0,20671.0,11900.0
887364,10775.0,10775.0,10775.000000,36,0.0603,327.95,A,A1,< 1 year,RENT,...,0.00,0.0000,Jul-2015,9439.34,NaN,Jun-2015,0.0,0.0,24696.0,41700.0
887365,7000.0,7000.0,7000.000000,36,0.1431,240.30,C,C4,10+ years,RENT,...,0.00,0.0000,Jan-2016,240.30,Feb-2016,Jan-2016,0.0,0.0,32135.0,9900.0
887366,6225.0,6225.0,6225.000000,36,0.1649,220.37,D,D3,2 years,RENT,...,0.00,0.0000,Dec-2015,4858.17,NaN,Dec-2015,0.0,0.0,8357.0,1800.0
887367,10000.0,10000.0,10000.000000,36,0.0649,306.45,A,A2,1 year,RENT,...,0.00,0.0000,Jan-2016,306.45,Feb-2016,Jan-2016,0.0,0.0,88120.0,30300.0
887368,13150.0,13150.0,13150.000000,60,0.1499,312.77,C,C5,8 years,MORTGAGE,...,0.00,0.0000,Jan-2016,312.77,Feb-2016,Mar-2015,0.0,0.0,158977.0,20700.0
887369,4000.0,4000.0,4000.000000,36,0.0867,126.59,B,B1,10+ years,MORTGAGE,...,0.00,0.0000,Jun-2015,3655.51,NaN,Nov-2015,0.0,0.0,18979.0,30100.0
887370,7500.0,7500.0,7500.000000,36,0.0949,240.22,B,B2,8 years,RENT,...,0.00,0.0000,Jan-2016,240.22,Feb-2016,Jan-2016,0.0,3174.0,18611.0,14500.0
887371,10850.0,10850.0,10850.000000,36,0.1924,399.04,E,E2,n/a,OWN,...,0.00,0.0000,Aug-2015,25.00,NaN,Jan-2016,0.0,972.0,53777.0,16800.0
887372,12000.0,12000.0,12000.000000,36,0.1199,398.52,B,B5,< 1 year,MORTGAGE,...,0.00,0.0000,Jan-2016,398.52,Feb-2016,Jan-2016,0.0,0.0,237002.0,30300.0
887373,11575.0,11575.0,11575.000000,36,0.1559,404.61,D,D1,10+ years,RENT,...,0.00,0.0000,Jan-2016,404.61,Feb-2016,Jan-2016,0.0,0.0,19798.0,28100.0
887374,10000.0,10000.0,10000.000000,36,0.1199,332.10,B,B5,8 years,RENT,...,0.00,0.0000,Jan-2016,332.10,Feb-2016,Jan-2016,0.0,0.0,25274.0,17100.0
887375,24000.0,24000.0,24000.000000,36,0.1199,797.03,B,B5,10+ years,MORTGAGE,...,0.00,0.0000,Jan-2016,797.03,Feb-2016,Jan-2016,0.0,0.0,140285.0,10200.0
887376,13000.0,13000.0,13000.000000,60,0.1599,316.07,D,D2,5 years,RENT,...,0.00,0.0000,Jan-2016,316.07,Feb-2016,Jan-2016,0.0,0.0,34178.0,18000.0
887377,12000.0,12000.0,12000.000000,60,0.1999,317.86,E,E3,1 year,RENT,...,0.00,0.0000,Jan-2016,317.86,Feb-2016,Jan-2016,1.0,0.0,58418.0,27000.0
887378,20000.0,20000.0,20000.000000,36,0.1199,664.20,B,B5,10+ years,RENT,...,0.00,0.0000,Jan-2016,664.20,Feb-2016,Jan-2016,0.0,0.0,33307.0,41700.0

In [63]:
loan1['emp_length'] = loan1['emp_length'].str.extract('(\d+)').astype(float)

C:\Users\Sailen\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [64]:
loan1['emp_length'] = loan1['emp_length'].fillna(loan1.emp_length.median())
loan1

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.000000,36,0.1065,162.87,B,B2,10.0,RENT,...,0.00,0.0000,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.000000,60,0.1527,59.83,C,C4,1.0,RENT,...,117.08,1.1100,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.000000,36,0.1596,84.33,C,C5,10.0,RENT,...,0.00,0.0000,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.000000,36,0.1349,339.31,C,C1,10.0,RENT,...,0.00,0.0000,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.000000,60,0.1269,67.79,B,B5,1.0,RENT,...,0.00,0.0000,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN
5,5000.0,5000.0,5000.000000,36,0.0790,156.46,A,A4,3.0,RENT,...,0.00,0.0000,Jan-2015,161.03,NaN,Sep-2015,0.0,NaN,NaN,NaN
6,7000.0,7000.0,7000.000000,60,0.1596,170.08,C,C5,8.0,RENT,...,0.00,0.0000,Jan-2016,170.08,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN
7,3000.0,3000.0,3000.000000,36,0.1864,109.43,E,E1,9.0,RENT,...,0.00,0.0000,Jan-2015,111.34,NaN,Dec-2014,0.0,NaN,NaN,NaN
8,5600.0,5600.0,5600.000000,60,0.2128,152.39,F,F2,4.0,OWN,...,189.06,2.0900,Apr-2012,152.39,NaN,Aug-2012,0.0,NaN,NaN,NaN
9,5375.0,5375.0,5350.000000,60,0.1269,121.45,B,B5,1.0,RENT,...,269.29,2.5200,Nov-2012,121.45,NaN,Mar-2013,0.0,NaN,NaN,NaN
10,6500.0,6500.0,6500.000000,60,0.1465,153.45,C,C3,5.0,OWN,...,0.00,0.0000,Jun-2013,1655.54,NaN,Dec-2015,0.0,NaN,NaN,NaN
11,12000.0,12000.0,12000.000000,36,0.1269,402.54,B,B5,10.0,OWN,...,0.00,0.0000,Sep-2013,6315.30,NaN,Aug-2013,0.0,NaN,NaN,NaN
12,9000.0,9000.0,9000.000000,36,0.1349,305.38,C,C1,1.0,RENT,...,444.30,4.1600,Jul-2012,305.38,NaN,Nov-2012,0.0,NaN,NaN,NaN
13,3000.0,3000.0,3000.000000,36,0.0991,96.68,B,B1,3.0,RENT,...,0.00,0.0000,Jan-2015,102.43,NaN,Jan-2016,0.0,NaN,NaN,NaN
14,10000.0,10000.0,10000.000000,36,0.1065,325.74,B,B2,3.0,RENT,...,645.10,6.3145,Oct-2013,325.74,NaN,Mar-2014,0.0,NaN,NaN,NaN
15,1000.0,1000.0,1000.000000,36,0.1629,35.31,D,D1,1.0,RENT,...,0.00,0.0000,Jan-2015,36.32,NaN,Jan-2016,0.0,NaN,NaN,NaN
16,10000.0,10000.0,10000.000000,36,0.1527,347.98,C,C4,4.0,RENT,...,0.00,0.0000,Jan-2015,370.46,NaN,Apr-2015,0.0,NaN,NaN,NaN
17,3600.0,3600.0,3600.000000,36,0.0603,109.57,A,A1,10.0,MORTGAGE,...,0.00,0.0000,May-2013,583.45,NaN,May-2014,0.0,NaN,NaN,NaN
18,6000.0,6000.0,6000.000000,36,0.1171,198.46,B,B3,1.0,MORTGAGE,...,0.00,0.0000,Feb-2015,16.98,NaN,Jul-2015,0.0,NaN,NaN,NaN
19,9200.0,9200.0,9200.000000,36,0.0603,280.01,A,A1,6.0,RENT,...,0.00,0.0000,Jul-2012,8061.10,NaN,Jul-2012,0.0,NaN,NaN,NaN
20,20250.0,20250.0,19142.161077,60,0.1527,484.63,C,C4,3.0,RENT,...,0.00,0.0000,Aug-2015,6024.09,NaN,Dec-2015,0.0,NaN,NaN,NaN
21,21000.0,21000.0,21000.000000,36,0.1242,701.73,B,B4,10.0,RENT,...,0.00,0.0000,Sep-2013,701.73,NaN,Jan-2016,0.0,NaN,NaN,NaN
22,10000.0,10000.0,10000.000000,36,0.1171,330.76,B,B3,10.0,OWN,...,0.00,0.0000,Jan-2015,349.21,NaN,Jan-2016,0.0,NaN,NaN,NaN
23,10000.0,10000.0,10000.000000,36,0.1171,330.76,B,B3,5.0,RENT,...,0.00,0.0000,Oct-2013,4942.63,NaN,Mar-2014,0.0,NaN,NaN,NaN
24,6000.0,6000.0,6000.000000,36,0.1171,198.46,B,B3,1.0,RENT,...,269.31,2.5700,Oct-2012,198.46,NaN,Mar-2013,0.0,NaN,NaN,NaN
25,15000.0,15000.0,15000.000000,36,0.0991,483.38,B,B1,2.0,MORTGAGE,...,0.00,0.0000,Sep-2012,2447.05,NaN,Sep-2012,0.0,NaN,NaN,NaN
26,15000.0,15000.0,8725.000000,36,0.1427,514.64,C,C2,9.0,RENT,...,0.00,0.0000,NaN,0.00,NaN,Jan-2016,0.0,NaN,NaN,NaN
27,5000.0,5000.0,5000.000000,60,0.1677,123.65,D,D2,2.0,RENT,...,260.96,2.3000,Dec-2012,123.65,NaN,May-2013,0.0,NaN,NaN,NaN
28,4000.0,4000.0,4000.000000,36,0.1171,132.31,B,B3,10.0,MORTGAGE,...,0.00,0.0000,Apr-2013,2638.77,NaN,Jan-2016,0.0,NaN,NaN,NaN
29,8500.0,8500.0,8500.000000,36,0.1171,281.15,B,B3,1.0,RENT,...,0.00,0.0000,Dec-2014,581.59,NaN,Jan-2015,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36,0.0699,617.46,A,A3,2.0,MORTGAGE,...,0.00,0.0000,Jan-2016,617.46,Feb-2016,Jan-2016,0.0,0.0,388140.0,39700.0
887350,10300.0,10300.0,10300.000000,60,0.1366,237.86,C,C3,10.0,RENT,...,0.00,0.0000,Jan-2016,237.86,Feb-2016,Jan-2016,0.0,50.0,41956.0,22000.0
887351,4200.0,4200.0,4200.000000,36,0.1599,147.64,D,D2,10.0,MORTGAGE,...,0.00,0.0000,Aug-2015,147.64,NaN,Jan-2016,0.0,0.0,207975.0,20400.0
887352,15000.0,15000.0,15000.000000,36,0.1199,498.15,B,B5,1.0,RENT,...,0.00,0.0000,Jan-2016,498.15,Feb-2016,Jan-2016,0.0,0.0,15724.0,9700.0
887353,15000.0,15000.0,15000.000000,60,0.1144,329.44,B,B4,4.0,RENT,...,0.00,0.0000,Jan-2016,329.44,Feb-2016,Jan-2016,0.0,0.0,33529.0,26100.0
887354,6000.0,6000.0,6000.000000,36,0.1786,216.50,D,D5,10.0,MORTGAGE,...,0.00,0.0000,Jan-2016,216.50,Feb-2016,Jan-2016,0.0,0.0,384500.0,8500.0
887355,26950.0,26950.0,26950.000000,36,0.0819,846.88,A,A5,6.0,RENT,...,0.00,0.0000,Jan-2016,846.88,Feb-2016,Jan-2016,0.0,0.0,41650.0,129100.0
887356,23000.0,23000.0,23000.000000,60,0.1559,554.32,D,D1,10.0,MORTGAGE,...,0.00,0.0000,Jan-2016,554.32,Feb-2016,Jan-2016,0.0,0.0,48978.0,65600.0
887357,18700.0,18700.0,18700.000000,60,0.1786,473.44,D,D5,10.0,RENT,...,0.00,0.0000,Jan-2016,473.44,Feb-2016,Jan-2016,0.0,0.0,40164.0,10200.0
887358,25000.0,25000.0,25000.000000,60,0.1599,607.82,D,D2,3.0,RENT,...,0.00,0.0000,Jan-2016,607.82,Feb-2016,Jan-2016,0.0,0.0,17275.0,18700.0
887359,25000.0,25000.0,25000.000000,60,0.1559,602.52,D,D1,6.0,OWN,...,0.00,0.0000,Jan-2016,602.52,Feb-2016,Jan-2016,0.0,0.0,13860.0,24400.0
887360,26500.0,26500.0,26500.000000,60,0.0867,545.87,B,B1,10.0,MORTGAGE,...,0.00,0.0000,Jan-2016,545.87,Feb-2016,Jan-2016,0.0,0.0,115511.0,118600.0
887361,21000.0,21000.0,21000.000000,36,0.0603,639.15,A,A1,10.0,MORTGAGE,...,0.00,0.0000,Jan-2016,639.15,Feb-2016,Jan-2016,0.0,0.0,212337.0,76300.0
887362,8000.0,8000.0,8000.000000,36,0.0819,251.40,A,A5,9.0,MORTGAGE,...,0.00,0.0000,Jan-2016,251.40,Feb-2016,Jan-2016,0.0,0.0,211412.0,7300.0
887363,12000.0,12000.0,12000.000000,36,0.0949,384.34,B,B2,4.0,RENT,...,0.00,0.0000,Jan-2016,384.34,Feb-2016,Jan-2016,0.0,0.0,20671.0,11900.0
887364,10775.0,10775.0,10775.000000,36,0.0603,327.95,A,A1,1.0,RENT,...,0.00,0.0000,Jul-2015,9439.34,NaN,Jun-2015,0.0,0.0,24696.0,41700.0
887365,7000.0,7000.0,7000.000000,36,0.1431,240.30,C,C4,10.0,RENT,...,0.00,0.0000,Jan-2016,240.30,Feb-2016,Jan-2016,0.0,0.0,32135.0,9900.0
887366,6225.0,6225.0,6225.000000,36,0.1649,220.37,D,D3,2.0,RENT,...,0.00,0.0000,Dec-2015,4858.17,NaN,Dec-2015,0.0,0.0,8357.0,1800.0
887367,10000.0,10000.0,10000.000000,36,0.0649,306.45,A,A2,1.0,RENT,...,0.00,0.0000,Jan-2016,306.45,Feb-2016,Jan-2016,0.0,0.0,88120.0,30300.0
887368,13150.0,13150.0,13150.000000,60,0.1499,312.77,C,C5,8.0,MORTGAGE,...,0.00,0.0000,Jan-2016,312.77,Feb-2016,Mar-2015,0.0,0.0,158977.0,20700.0
887369,4000.0,4000.0,4000.000000,36,0.0867,126.59,B,B1,10.0,MORTGAGE,...,0.00,0.0000,Jun-2015,3655.51,NaN,Nov-2015,0.0,0.0,18979.0,30100.0
887370,7500.0,7500.0,7500.000000,36,0.0949,240.22,B,B2,8.0,RENT,...,0.00,0.0000,Jan-2016,240.22,Feb-2016,Jan-2016,0.0,3174.0,18611.0,14500.0
887371,10850.0,10850.0,10850.000000,36,0.1924,399.04,E,E2,6.0,OWN,...,0.00,0.0000,Aug-2015,25.00,NaN,Jan-2016,0.0,972.0,53777.0,16800.0
887372,12000.0,12000.0,12000.000000,36,0.1199,398.52,B,B5,1.0,MORTGAGE,...,0.00,0.0000,Jan-2016,398.52,Feb-2016,Jan-2016,0.0,0.0,237002.0,30300.0
887373,11575.0,11575.0,11575.000000,36,0.1559,404.61,D,D1,10.0,RENT,...,0.00,0.0000,Jan-2016,404.61,Feb-2016,Jan-2016,0.0,0.0,19798.0,28100.0
887374,10000.0,10000.0,10000.000000,36,0.1199,332.10,B,B5,8.0,RENT,...,0.00,0.0000,Jan-2016,332.10,Feb-2016,Jan-2016,0.0,0.0,25274.0,17100.0
887375,24000.0,24000.0,24000.000000,36,0.1199,797.03,B,B5,10.0,MORTGAGE,...,0.00,0.0000,Jan-2016,797.03,Feb-2016,Jan-2016,0.0,0.0,140285.0,10200.0
887376,13000.0,13000.0,13000.000000,60,0.1599,316.07,D,D2,5.0,RENT,...,0.00,0.0000,Jan-2016,316.07,Feb-2016,Jan-2016,0.0,0.0,34178.0,18000.0
887377,12000.0,12000.0,12000.000000,60,0.1999,317.86,E,E3,1.0,RENT,...,0.00,0.0000,Jan-2016,317.86,Feb-2016,Jan-2016,1.0,0.0,58418.0,27000.0
887378,20000.0,20000.0,20000.000000,36,0.1199,664.20,B,B5,10.0,RENT,...,0.00,0.0000,Jan-2016,664.20,Feb-2016,Jan-2016,0.0,0.0,33307.0,41700.0

In [65]:
loan1.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [67]:
loan1['loan_status'].value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64