In [1]:
import pandas as pd
import numpy as np

In [2]:
loan1 = pd.read_csv('loan.csv')

C:\Users\sanjo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loan1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
check_null = loan1.isnull().sum(axis=0)/float(len(loan1))
check_null[check_null>0.7]

desc                           0.857977
mths_since_last_record         0.845553
mths_since_last_major_derog    0.750160
annual_inc_joint               0.999424
dti_joint                      0.999426
verification_status_joint      0.999424
open_acc_6m                    0.975916
open_il_6m                     0.975916
open_il_12m                    0.975916
open_il_24m                    0.975916
mths_since_rcnt_il             0.976549
total_bal_il                   0.975916
il_util                        0.979020
open_rv_12m                    0.975916
open_rv_24m                    0.975916
max_bal_bc                     0.975916
all_util                       0.975916
inq_fi                         0.975916
total_cu_tl                    0.975916
inq_last_12m                   0.975916
dtype: float64

In [5]:
loan1.drop(check_null[check_null>0.7].index, axis=1, inplace=True)

In [6]:
loan1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,171.62,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,119.66,NaN,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,649.91,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,357.48,NaN,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,67.79,Feb-2016,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN

In [7]:
loan1.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [8]:
loan1.groupby('application_type').size().sort_values()

application_type
JOINT            511
INDIVIDUAL    886868
dtype: int64

In [9]:
loan1.dropna(axis=0, thresh=30, inplace=True)

In [10]:
delete = ['policy_code', 'pymnt_plan', 'url', 'id', 'member_id', 'application_type', 'acc_now_delinq','emp_title', 'zip_code','title']
loan1.drop(delete, axis=1, inplace=True)

In [11]:
loan1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

In [12]:
loan1.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [13]:
loan1['term'] = loan1['term'].str.split(' ').str[1]
loan1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.0,36,10.65,162.87,B,B2,10+ years,RENT,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60,15.27,59.83,C,C4,< 1 year,RENT,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36,15.96,84.33,C,C5,10+ years,RENT,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36,13.49,339.31,C,C1,10+ years,RENT,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60,12.69,67.79,B,B5,1 year,RENT,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

In [14]:
loan1['int_rate'] = loan1.int_rate.astype(float)/100.
loan1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.0,36,0.1065,162.87,B,B2,10+ years,RENT,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60,0.1527,59.83,C,C4,< 1 year,RENT,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36,0.1596,84.33,C,C5,10+ years,RENT,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36,0.1349,339.31,C,C1,10+ years,RENT,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60,0.1269,67.79,B,B5,1 year,RENT,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

In [15]:
loan1['emp_length'] = loan1['emp_length'].str.extract('(\d+)').astype(float)

C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [16]:
loan1['emp_length'] = loan1['emp_length'].fillna(loan1.emp_length.median())
loan1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.0,36,0.1065,162.87,B,B2,10.0,RENT,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60,0.1527,59.83,C,C4,1.0,RENT,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36,0.1596,84.33,C,C5,10.0,RENT,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36,0.1349,339.31,C,C1,10.0,RENT,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60,0.1269,67.79,B,B5,1.0,RENT,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

In [17]:
loan1.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [18]:
loan1['loan_status'].value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [19]:
loan1['Default_Binary'] = int(0)

In [20]:
for index, value in loan1['loan_status'].iteritems():
    if value == 'Default':
        loan1.set_value(index,'Default_Binary',int(1))
    if value == 'Charged Off':
        loan1.set_value(index, 'Default_Binary',int(1))
    if value == 'Late (31-120 days)':
        loan1.set_value(index, 'Default_Binary',int(1))    
    if value == 'Late (16-30 days)':
        loan1.set_value(index, 'Default_Binary',int(1))
    if value == 'Does not meet the credit policy. Status:Charged Off':
        loan1.set_value(index, 'Default_Binary',int(1))
    if value == 'In Grace Period':
        loan1.set_value(index, 'Default_Binary',int(1))

C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

In [21]:
loan1['Default_Binary'].value_counts()

0    819950
1     67429
Name: Default_Binary, dtype: int64

In [23]:
loan1.drop(['total_rev_hi_lim','tot_cur_bal','tot_coll_amt'], axis=1, inplace=True)

In [27]:
loan1['grade'].value_counts()

B    254535
C    245860
A    148202
D    139542
E     70705
F     23046
G      5489
Name: grade, dtype: int64

In [28]:
loan1.drop('sub_grade', axis=1, inplace=True)

In [32]:
null_counts = loan1.isnull().sum()
null_counts[null_counts > 0].sort_values(ascending=False)

mths_since_last_delinq        454312
next_pymnt_d                  252971
last_pymnt_d                   17659
revol_util                       502
collections_12_mths_ex_med       145
last_credit_pull_d                53
total_acc                         29
pub_rec                           29
open_acc                          29
inq_last_6mths                    29
earliest_cr_line                  29
delinq_2yrs                       29
annual_inc                         4
dtype: int64

In [35]:
loan1.drop(['mths_since_last_delinq','next_pymnt_d','last_pymnt_d'], axis=1, inplace=True)

In [37]:
loan1.drop('revol_util', axis=1, inplace=True)

In [42]:
loan1.drop('collections_12_mths_ex_med', axis=1, inplace=True)

In [46]:
loan1.drop('last_credit_pull_d', axis=1, inplace=True)

In [65]:
loan1['pub_rec'].value_counts(dropna=False)

 0.0     751572
 1.0     113266
 2.0      14854
 3.0       4487
 4.0       1564
 5.0        757
 6.0        385
 7.0        170
 8.0        113
 9.0         50
 10.0        42
NaN          29
 11.0        23
 12.0        16
 13.0        12
 15.0         6
 18.0         5
 16.0         5
 21.0         4
 17.0         3
 19.0         2
 49.0         2
 14.0         2
 34.0         1
 28.0         1
 20.0         1
 86.0         1
 26.0         1
 54.0         1
 40.0         1
 23.0         1
 22.0         1
 63.0         1
Name: pub_rec, dtype: int64

In [66]:
loan1['pub_rec'].dropna(inplace = True)

In [70]:
loan1['open_acc'].dropna(inplace = True)

In [74]:
loan1['inq_last_6mths'].dropna(inplace = True)

In [76]:
loan1.drop('earliest_cr_line', axis=1, inplace=True)

In [79]:
loan1['delinq_2yrs'].dropna(inplace=True)

In [84]:
loan1['annual_inc'].fillna(loan1['annual_inc'].mean(), inplace=True)

In [87]:
loan1.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose',
       'addr_state', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt', 'Default_Binary'],
      dtype='object')

In [99]:
loan1.drop('term', axis=1, inplace=True)

In [102]:
loan1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887379 entries, 0 to 887378
Data columns (total 33 columns):
loan_amnt                  887379 non-null float64
funded_amnt                887379 non-null float64
funded_amnt_inv            887379 non-null float64
int_rate                   887379 non-null float64
installment                887379 non-null float64
grade                      887379 non-null object
emp_length                 887379 non-null float64
home_ownership             887379 non-null object
annual_inc                 887379 non-null float64
verification_status        887379 non-null object
issue_d                    887379 non-null object
loan_status                887379 non-null object
purpose                    887379 non-null object
addr_state                 887379 non-null object
dti                        887379 non-null float64
delinq_2yrs                887350 non-null float64
inq_last_6mths             887350 non-null float64
open_acc                   887350 non-null float64
pub_rec                    887350 non-null float64
revol_bal                  887379 non-null float64
total_acc                  887350 non-null float64
initial_list_status        887379 non-null object
out_prncp                  887379 non-null float64
out_prncp_inv              887379 non-null float64
total_pymnt                887379 non-null float64
total_pymnt_inv            887379 non-null float64
total_rec_prncp            887379 non-null float64
total_rec_int              887379 non-null float64
total_rec_late_fee         887379 non-null float64
recoveries                 887379 non-null float64
collection_recovery_fee    887379 non-null float64
last_pymnt_amnt            887379 non-null float64
Default_Binary             887379 non-null int64
dtypes: float64(24), int64(1), object(8)
memory usage: 270.2+ MB