In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
loan1 = pd.read_csv('loan.csv')

C:\Users\sanjo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loan1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
check_null = loan1.isnull().sum(axis=0)/float(len(loan1))
check_null[check_null>0.7]

desc                           0.857977
mths_since_last_record         0.845553
mths_since_last_major_derog    0.750160
annual_inc_joint               0.999424
dti_joint                      0.999426
verification_status_joint      0.999424
open_acc_6m                    0.975916
open_il_6m                     0.975916
open_il_12m                    0.975916
open_il_24m                    0.975916
mths_since_rcnt_il             0.976549
total_bal_il                   0.975916
il_util                        0.979020
open_rv_12m                    0.975916
open_rv_24m                    0.975916
max_bal_bc                     0.975916
all_util                       0.975916
inq_fi                         0.975916
total_cu_tl                    0.975916
inq_last_12m                   0.975916
dtype: float64

### Dropping the columns which has greater than 70% null values.

In [4]:
loan1.drop(check_null[check_null>0.7].index, axis=1, inplace=True)

In [5]:
loan1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,171.62,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,119.66,NaN,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,649.91,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,357.48,NaN,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,67.79,Feb-2016,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN

In [6]:
loan1.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

### Checking the different values in the column 'application_type'

In [7]:
loan1.groupby('application_type').size().sort_values()

application_type
JOINT            511
INDIVIDUAL    886868
dtype: int64

### Dropping the column due to uneven data.

In [8]:
loan1.dropna(axis=0, thresh=30, inplace=True)

### Similarly, after evaluating the following columns using sort_values() method, I have decided to drop them.

In [9]:
delete = ['policy_code', 'pymnt_plan', 'url', 'id', 'member_id', 'application_type', 'acc_now_delinq','emp_title', 'zip_code','title']
loan1.drop(delete, axis=1, inplace=True)

In [10]:
loan1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

In [11]:
loan1.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

### Separating the integer value of months from the string value in the 'term' column.

In [12]:
loan1['term'] = loan1['term'].str.split(' ').str[1]
loan1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.0,36,10.65,162.87,B,B2,10+ years,RENT,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60,15.27,59.83,C,C4,< 1 year,RENT,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36,15.96,84.33,C,C5,10+ years,RENT,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36,13.49,339.31,C,C1,10+ years,RENT,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60,12.69,67.79,B,B5,1 year,RENT,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

### Making the interest rate values between 0 and 1, so that it is normally distributed.

In [13]:
loan1['int_rate'] = loan1.int_rate.astype(float)/100.
loan1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.0,36,0.1065,162.87,B,B2,10+ years,RENT,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60,0.1527,59.83,C,C4,< 1 year,RENT,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36,0.1596,84.33,C,C5,10+ years,RENT,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36,0.1349,339.31,C,C1,10+ years,RENT,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60,0.1269,67.79,B,B5,1 year,RENT,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

### Keeping just the integer values in the 'emp_length' column and eliminating the '+', '<' symbols from the column.

In [14]:
loan1['emp_length'] = loan1['emp_length'].str.extract('(\d+)').astype(float)

C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

### Filling the NA values with the median of the values in the column 'emp_length'.

In [15]:
loan1['emp_length'] = loan1['emp_length'].fillna(loan1.emp_length.median())
loan1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,5000.0,4975.0,36,0.1065,162.87,B,B2,10.0,RENT,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60,0.1527,59.83,C,C4,1.0,RENT,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36,0.1596,84.33,C,C5,10.0,RENT,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36,0.1349,339.31,C,C1,10.0,RENT,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60,0.1269,67.79,B,B5,1.0,RENT,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

In [16]:
loan1.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

### Checking the different values in our dependent variable column 'loan_status'.

In [17]:
loan1['loan_status'].value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

### Making a separate column 'Default_Binary' which has 0s for the people who paid the loans, 1s for potential defaulters.

In [18]:
loan1['Default_Binary'] = int(0)

In [19]:
for index, value in loan1['loan_status'].iteritems():
    if value == 'Default':
        loan1.set_value(index,'Default_Binary',int(1))
    if value == 'Charged Off':
        loan1.set_value(index, 'Default_Binary',int(1))
    if value == 'Late (31-120 days)':
        loan1.set_value(index, 'Default_Binary',int(1))    
    if value == 'Late (16-30 days)':
        loan1.set_value(index, 'Default_Binary',int(1))
    if value == 'Does not meet the credit policy. Status:Charged Off':
        loan1.set_value(index, 'Default_Binary',int(1))
    if value == 'In Grace Period':
        loan1.set_value(index, 'Default_Binary',int(1))

C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

In [20]:
loan1['Default_Binary'].value_counts()

0    819950
1     67429
Name: Default_Binary, dtype: int64

In [30]:
loan1['total_rev_hi_lim'].median()

23700.0

In [32]:
loan1['tot_cur_bal'].isnull().values.sum()

70276

In [ ]:
loan1['total_rev_hi_lim'].median()

In [31]:
loan1['total_rev_hi_lim'].fillna(loan1['annual_inc'].median(), inplace=True)

In [ ]:
loan1['total_rev_hi_lim'].fillna(loan1['annual_inc'].median(), inplace=True)

In [22]:
loan1.drop(['total_rev_hi_lim','tot_cur_bal','tot_coll_amt'], axis=1, inplace=True)

In [23]:
loan1['grade'].value_counts()

B    254535
C    245860
A    148202
D    139542
E     70705
F     23046
G      5489
Name: grade, dtype: int64

In [24]:
loan1.drop('sub_grade', axis=1, inplace=True)

In [25]:
null_counts = loan1.isnull().sum()
null_counts[null_counts > 0].sort_values(ascending=False)

mths_since_last_delinq        454312
next_pymnt_d                  252971
last_pymnt_d                   17659
revol_util                       502
collections_12_mths_ex_med       145
last_credit_pull_d                53
total_acc                         29
pub_rec                           29
open_acc                          29
inq_last_6mths                    29
earliest_cr_line                  29
delinq_2yrs                       29
annual_inc                         4
dtype: int64

In [26]:
loan1.drop(['mths_since_last_delinq','next_pymnt_d','last_pymnt_d'], axis=1, inplace=True)

In [28]:
loan1.drop('revol_util', axis=1, inplace=True)

In [ ]:
loan1.drop('collections_12_mths_ex_med', axis=1, inplace=True)

In [ ]:
loan1.drop('loan_status', axis=1, inplace=True)

In [31]:
loan1.drop('last_credit_pull_d', axis=1, inplace=True)

In [32]:
loan1['pub_rec'].value_counts(dropna=False)

 0.0     751572
 1.0     113266
 2.0      14854
 3.0       4487
 4.0       1564
 5.0        757
 6.0        385
 7.0        170
 8.0        113
 9.0         50
 10.0        42
NaN          29
 11.0        23
 12.0        16
 13.0        12
 15.0         6
 18.0         5
 16.0         5
 21.0         4
 17.0         3
 19.0         2
 49.0         2
 14.0         2
 34.0         1
 28.0         1
 20.0         1
 86.0         1
 26.0         1
 54.0         1
 40.0         1
 23.0         1
 22.0         1
 63.0         1
Name: pub_rec, dtype: int64

In [33]:
loan1['pub_rec'].dropna(inplace = True)

In [34]:
loan1['open_acc'].dropna(inplace = True)

In [35]:
loan1['inq_last_6mths'].dropna(inplace = True)

In [36]:
loan1.drop('earliest_cr_line', axis=1, inplace=True)

In [37]:
loan1['delinq_2yrs'].dropna(inplace=True)

In [38]:
loan1['annual_inc'].fillna(loan1['annual_inc'].mean(), inplace=True)

In [39]:
loan1.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose',
       'addr_state', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt', 'Default_Binary'],
      dtype='object')

In [40]:
loan1.drop('term', axis=1, inplace=True)

In [41]:
loan1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887379 entries, 0 to 887378
Data columns (total 33 columns):
loan_amnt                  887379 non-null float64
funded_amnt                887379 non-null float64
funded_amnt_inv            887379 non-null float64
int_rate                   887379 non-null float64
installment                887379 non-null float64
grade                      887379 non-null object
emp_length                 887379 non-null float64
home_ownership             887379 non-null object
annual_inc                 887379 non-null float64
verification_status        887379 non-null object
issue_d                    887379 non-null object
loan_status                887379 non-null object
purpose                    887379 non-null object
addr_state                 887379 non-null object
dti                        887379 non-null float64
delinq_2yrs                887350 non-null float64
inq_last_6mths             887350 non-null float64
open_acc                   887350 non-null float64
pub_rec                    887350 non-null float64
revol_bal                  887379 non-null float64
total_acc                  887350 non-null float64
initial_list_status        887379 non-null object
out_prncp                  887379 non-null float64
out_prncp_inv              887379 non-null float64
total_pymnt                887379 non-null float64
total_pymnt_inv            887379 non-null float64
total_rec_prncp            887379 non-null float64
total_rec_int              887379 non-null float64
total_rec_late_fee         887379 non-null float64
recoveries                 887379 non-null float64
collection_recovery_fee    887379 non-null float64
last_pymnt_amnt            887379 non-null float64
Default_Binary             887379 non-null int64
dtypes: float64(24), int64(1), object(8)
memory usage: 270.2+ MB

In [45]:
loan1.to_csv('new_loan.csv', index = False)

In [14]:
loan3 = pd.read_csv('new_loan.csv')
loan3.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,...,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,Default_Binary
0,5000.0,5000.0,4975.0,0.1065,162.87,B,10.0,RENT,24000.0,Verified,...,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,171.62,0
1,2500.0,2500.0,2500.0,0.1527,59.83,C,1.0,RENT,30000.0,Source Verified,...,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,119.66,1
2,2400.0,2400.0,2400.0,0.1596,84.33,C,10.0,RENT,12252.0,Not Verified,...,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,649.91,0
3,10000.0,10000.0,10000.0,0.1349,339.31,C,10.0,RENT,49200.0,Source Verified,...,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,357.48,0
4,3000.0,3000.0,3000.0,0.1269,67.79,B,1.0,RENT,80000.0,Source Verified,...,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,67.79,0

In [15]:
loan3.drop('verification_status', axis=1, inplace=True)

In [16]:
loan3.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,Default_Binary
count,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,8.873790e+05,887379.000000,887350.000000,887350.000000,...,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000
mean,14755.264605,14741.877625,14702.464383,0.132467,436.717127,6.087822,7.502759e+04,18.157039,0.314442,0.694623,...,8399.713242,7558.826684,7521.160306,5757.706424,1754.804327,0.396692,45.919243,4.880757,2164.145585,0.075987
std,8435.455601,8429.897657,8442.106732,0.043819,244.186593,3.446576,6.469815e+04,17.190626,0.862244,0.998448,...,8489.997617,7871.243336,7846.108604,6625.441046,2095.356099,4.087825,409.693874,63.125281,4794.783233,0.264977
min,500.000000,500.000000,0.000000,0.053200,15.670000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8000.000000,8000.000000,8000.000000,0.099900,260.705000,3.000000,4.500000e+04,11.910000,0.000000,0.000000,...,0.000000,1914.590000,1899.700000,1200.570000,441.460000,0.000000,0.000000,0.000000,280.170000,0.000000
50%,13000.000000,13000.000000,13000.000000,0.129900,382.550000,6.000000,6.500000e+04,17.650000,0.000000,0.000000,...,6455.810000,4894.999117,4862.010000,3215.320000,1073.280000,0.000000,0.000000,0.000000,462.780000,0.000000
75%,20000.000000,20000.000000,20000.000000,0.162000,572.600000,10.000000,9.000000e+04,23.950000,0.000000,1.000000,...,13654.050000,10616.814231,10565.690000,8000.000000,2238.265000,0.000000,0.000000,0.000000,831.245000,0.000000
max,35000.000000,35000.000000,35000.000000,0.289900,1445.460000,10.000000,9.500000e+06,9999.000000,39.000000,33.000000,...,49372.860000,57777.579870,57777.580000,35000.030000,24205.620000,358.680000,33520.270000,7002.190000,36475.590000,1.000000

In [17]:
loan3.drop(['issue_d','loan_status'], axis=1, inplace = True)

In [18]:
loan3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 30 columns):
loan_amnt                  887379 non-null float64
funded_amnt                887379 non-null float64
funded_amnt_inv            887379 non-null float64
int_rate                   887379 non-null float64
installment                887379 non-null float64
grade                      887379 non-null object
emp_length                 887379 non-null float64
home_ownership             887379 non-null object
annual_inc                 887379 non-null float64
purpose                    887379 non-null object
addr_state                 887379 non-null object
dti                        887379 non-null float64
delinq_2yrs                887350 non-null float64
inq_last_6mths             887350 non-null float64
open_acc                   887350 non-null float64
pub_rec                    887350 non-null float64
revol_bal                  887379 non-null float64
total_acc                  887350 non-null float64
initial_list_status        887379 non-null object
out_prncp                  887379 non-null float64
out_prncp_inv              887379 non-null float64
total_pymnt                887379 non-null float64
total_pymnt_inv            887379 non-null float64
total_rec_prncp            887379 non-null float64
total_rec_int              887379 non-null float64
total_rec_late_fee         887379 non-null float64
recoveries                 887379 non-null float64
collection_recovery_fee    887379 non-null float64
last_pymnt_amnt            887379 non-null float64
Default_Binary             887379 non-null int64
dtypes: float64(24), int64(1), object(5)
memory usage: 203.1+ MB

In [20]:
loan3['purpose'].value_counts()

debt_consolidation    524215
credit_card           206182
home_improvement       51829
other                  42894
major_purchase         17277
small_business         10377
car                     8863
medical                 8540
moving                  5414
vacation                4736
house                   3707
wedding                 2347
renewable_energy         575
educational              423
Name: purpose, dtype: int64

In [21]:
loan3.to_csv('new_loan1.csv', index = False)