# #Aim: *The aim of this notebook is to clean the dataset and save it in a different csv file*.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
loan1 = pd.read_csv('loan.csv')

C:\Users\sanjo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loan1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Loan Data Description	:
#### Data taken from : https://www.kaggle.com/wendykan/lending-club-loan-data

1. *addr_state*	- The state provided by the borrower in the loan application									
2. *annual_inc* - The self-reported annual income provided by the borrower during registration.									
3. *annual_inc_joint* -	The combined self-reported annual income provided by the co-borrowers during registration.			   4. *application_type* -	Indicates whether the loan is an individual application or a joint application with two co-borrowers. 5. *collection_recovery_fee* - post charge off collection fee.									
6. *collections_12_mths_ex_med* - Number of collections in 12 months excluding medical collections.								7. *delinq_2yrs* - The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years. 8. *desc* - Loan description provided by the borrower.									
9. *dti* - A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.									
10. *dti_joint* - A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding     mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income.						11. *earliest_cr_line* - The month the borrower's earliest reported credit line was opened.									
12. *emp_length* - Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. 									
13. *emp_title* - The job title supplied by the Borrower when applying for the loan.									
14. *funded_amnt* -	The total amount committed to that loan at that point in time.									
15. *funded_amnt_inv* - The total amount committed by investors for that loan at that point in time.							16. *grade* - LC assigned loan grade.									
17. *home_ownership* - The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.									
18. *id* - A unique LC assigned ID for the loan listing.									
19. *initial_list_status* -	The initial listing status of the loan. Possible values are – W, F.									
20. *inq_last_6mths* - The number of inquiries in past 6 months (excluding auto and mortgage inquiries).						21. *installment* -	The monthly payment owed by the borrower if the loan originates.									
22. *int_rate* - Interest Rate on the loan.									
23. *is_inc_v* - Indicates if income was verified by LC, not verified, or if the income source was verified.					24. *issue_d* -	The month which the loan was funded.									
25. *last_credit_pull_d* - The most recent month LC pulled credit for this loan.									
26. *last_fico_range_high* - The upper boundary range the borrower’s last FICO pulled belongs to.								27. *last_pymnt_amnt* -	Last total payment amount received.									
28. *last_pymnt_d* - Last month payment was received.									
29. *loan_amnt* - The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.									
30. *loan_status* -	Current status of the loan.									
31. *member_id* - A unique LC assigned Id for the borrower member.									
32. *mths_since_last_delinq* - The number of months since the borrower's last delinquency.									
33. *mths_since_last_major_derog* - Months since most recent 90-day or worse rating.									
34. *mths_since_last_record* - The number of months since the last public record.									
35. *next_pymnt_d* - Next scheduled payment date.									
36. *open_acc* - The number of open credit lines in the borrower's credit file.									
37. *out_prncp* - Remaining outstanding principal for total amount funded.									
38. *out_prncp_inv* - Remaining outstanding principal for portion of total amount funded by investors.							39. *policy_code* -	publicly available policy_code=1, new products not publicly available policy_code=2.						40. *pub_rec* -	Number of derogatory public records.									
41. *purpose* -	A category provided by the borrower for the loan request. 									
42. *pymnt_plan* - Indicates if a payment plan has been put in place for the loan.									
43. *recoveries* - post charge off gross recovery.									
44. *revol_bal* - Total credit revolving balance.									
45. *revol_util* - Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.									
46. *sub_grade* - LC assigned loan subgrade.									
47. *term* - The number of payments on the loan. Values are in months and can be either 36 or 60.								48. *title* - The loan title provided by the borrower.									
49. *total_acc* - The total number of credit lines currently in the borrower's credit file.									
50. *total_pymnt* -	Payments received to date for total amount funded.									
51. *total_pymnt_inv* -	Payments received to date for portion of total amount funded by investors.								52. *total_rec_int* - Interest received to date.									
53. *total_rec_late_fee* - Late fees received to date.									
54. *total_rec_prncp* -	Principal received to date.									
55. *url* -	URL for the LC page with listing data.									
56. *verified_status_joint* - Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified.									
57. *zip_code* - The first 3 numbers of the zip code provided by the borrower in the loan application.							58. *open_acc_6m* -	Number of open trades in last 6 months.									
59. *open_il_6m* - Number of currently active installment trades.									
60. *open_il_12m* -	Number of installment accounts opened in past 12 months.									
61. *open_il_24m* -	Number of installment accounts opened in past 24 months.									
62. *mths_since_rcnt_il* - Months since most recent installment accounts opened.									
63. *total_bal_il* - Total current balance of all installment accounts.									
64. *il_util* -	Ratio of total current balance to high credit/credit limit on all install acct.									
65. *open_rv_12m* -	Number of revolving trades opened in past 12 months.									
66. *open_rv_24m* -	Number of revolving trades opened in past 24 months.									
67. *max_bal_bc* -	Maximum current balance owed on all revolving accounts.									
68. *all_util* - Balance to credit limit on all trades.									
69. *total_rev_hi_limb* - Total revolving high credit/credit limit.									
70. *inq_fi* - Number of personal finance inquiries.									
71. *total_cu_tl* -	Number of finance trades.									
72. *inq_last_12m* - Number of credit inquiries in past 12 months.									
73. *acc_now_delinq* - The number of accounts on which the borrower is now delinquent.									
74. *tot_coll_amt* - Total collection amounts ever owed.									
75. *tot_cur_bal* -	Total current balance of all accounts.

## Checking the columns which have more than 70% null values.

In [4]:
check_null = loan1.isnull().sum(axis=0)/float(len(loan1))
check_null[check_null>0.7]

desc                           0.857977
mths_since_last_record         0.845553
mths_since_last_major_derog    0.750160
annual_inc_joint               0.999424
dti_joint                      0.999426
verification_status_joint      0.999424
open_acc_6m                    0.975916
open_il_6m                     0.975916
open_il_12m                    0.975916
open_il_24m                    0.975916
mths_since_rcnt_il             0.976549
total_bal_il                   0.975916
il_util                        0.979020
open_rv_12m                    0.975916
open_rv_24m                    0.975916
max_bal_bc                     0.975916
all_util                       0.975916
inq_fi                         0.975916
total_cu_tl                    0.975916
inq_last_12m                   0.975916
dtype: float64

### Dropping the columns which has greater than 70% null values.

In [5]:
loan1.drop(check_null[check_null>0.7].index, axis=1, inplace=True)

In [6]:
loan1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,171.62,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,119.66,NaN,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,649.91,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,357.48,NaN,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,67.79,Feb-2016,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN

In [7]:
loan1.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

### Checking the different values in the column 'application_type'

In [8]:
loan1.groupby('application_type').size().sort_values()

application_type
JOINT            511
INDIVIDUAL    886868
dtype: int64

### Dropping the column 'application_type' due to skewed data.

In [9]:
loan1.drop(['application_type'], axis=1, inplace=True)

### We can see that 'policy_code' is just a bunch of 1s. Therefore we can drop the column.

In [10]:
loan1.groupby('policy_code').size().sort_values()

policy_code
1.0    887379
dtype: int64

### We can see 'pymnt_plan' is skewed towards 'n'. So we can drop it.

In [11]:
loan1.groupby('pymnt_plan').size().sort_values()

pymnt_plan
y        10
n    887369
dtype: int64

### We can see that 'emp_title', 'zipcode', 'title', 'url' are just a bunch of strings which are not very significant. Hence we can drop them.

In [12]:
loan1['emp_title'].head()

0                         NaN
1                       Ryder
2                         NaN
3         AIR RESOURCES BOARD
4    University Medical Group
Name: emp_title, dtype: object

In [13]:
loan1['url'].head()

0    https://www.lendingclub.com/browse/loanDetail....
1    https://www.lendingclub.com/browse/loanDetail....
2    https://www.lendingclub.com/browse/loanDetail....
3    https://www.lendingclub.com/browse/loanDetail....
4    https://www.lendingclub.com/browse/loanDetail....
Name: url, dtype: object

### We can also eliminate 'acc_now_delinq' as it contains 0 mostly.

In [14]:
loan1['acc_now_delinq'].describe()

count    887350.000000
mean          0.004991
std           0.077625
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          14.000000
Name: acc_now_delinq, dtype: float64

In [15]:
loan1.groupby('acc_now_delinq').size().sort_values()

acc_now_delinq
6.0          1
14.0         1
5.0          3
4.0          7
3.0         28
2.0        208
1.0       3866
0.0     883236
dtype: int64

### Hence we drop all the above mentioned columns.

In [16]:
delete = ['policy_code', 'pymnt_plan', 'url', 'member_id', 'acc_now_delinq','emp_title', 'zip_code','title']
loan1.drop(delete, axis=1, inplace=True)

In [17]:
loan1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,10+ years,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,1077430,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,< 1 year,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,1077175,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,10+ years,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,1076863,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,10+ years,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,1075358,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,1 year,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

In [18]:
loan1.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [19]:
loan1.describe()

,id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
count,8.873790e+05,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,8.873750e+05,887379.000000,887350.000000,887350.000000,...,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887234.000000,8.171030e+05,8.171030e+05,8.171030e+05
mean,3.246513e+07,14755.264605,14741.877625,14702.464383,13.246740,436.717127,7.502759e+04,18.157039,0.314442,0.694623,...,5757.706424,1754.804327,0.396692,45.919243,4.880757,2164.145585,0.014380,2.257026e+02,1.394582e+05,3.206862e+04
std,2.282734e+07,8435.455601,8429.897657,8442.106732,4.381867,244.186593,6.469830e+04,17.190626,0.862244,0.998448,...,6625.441046,2095.356099,4.087825,409.693874,63.125281,4794.783233,0.134191,1.031137e+04,1.537500e+05,3.749826e+04
min,5.473400e+04,500.000000,500.000000,0.000000,5.320000,15.670000,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,9.206643e+06,8000.000000,8000.000000,8000.000000,9.990000,260.705000,4.500000e+04,11.910000,0.000000,0.000000,...,1200.570000,441.460000,0.000000,0.000000,0.000000,280.170000,0.000000,0.000000e+00,2.985300e+04,1.390000e+04
50%,3.443327e+07,13000.000000,13000.000000,13000.000000,12.990000,382.550000,6.500000e+04,17.650000,0.000000,0.000000,...,3215.320000,1073.280000,0.000000,0.000000,0.000000,462.780000,0.000000,0.000000e+00,8.055900e+04,2.370000e+04
75%,5.490814e+07,20000.000000,20000.000000,20000.000000,16.200000,572.600000,9.000000e+04,23.950000,0.000000,1.000000,...,8000.000000,2238.265000,0.000000,0.000000,0.000000,831.245000,0.000000,0.000000e+00,2.082050e+05,3.980000e+04
max,6.861706e+07,35000.000000,35000.000000,35000.000000,28.990000,1445.460000,9.500000e+06,9999.000000,39.000000,33.000000,...,35000.030000,24205.620000,358.680000,33520.270000,7002.190000,36475.590000,20.000000,9.152545e+06,8.000078e+06,9.999999e+06

### Separating the integer value of months from the string value in the 'term' column.

In [20]:
loan1['term'] = loan1['term'].str.split(' ').str[1]
loan1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,5000.0,5000.0,4975.0,36,10.65,162.87,B,B2,10+ years,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,1077430,2500.0,2500.0,2500.0,60,15.27,59.83,C,C4,< 1 year,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,1077175,2400.0,2400.0,2400.0,36,15.96,84.33,C,C5,10+ years,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,1076863,10000.0,10000.0,10000.0,36,13.49,339.31,C,C1,10+ years,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,1075358,3000.0,3000.0,3000.0,60,12.69,67.79,B,B5,1 year,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

### Making the interest rate values between 0 and 1.

In [21]:
loan1['int_rate'] = loan1.int_rate.astype(float)/100.
loan1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,5000.0,5000.0,4975.0,36,0.1065,162.87,B,B2,10+ years,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,1077430,2500.0,2500.0,2500.0,60,0.1527,59.83,C,C4,< 1 year,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,1077175,2400.0,2400.0,2400.0,36,0.1596,84.33,C,C5,10+ years,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,1076863,10000.0,10000.0,10000.0,36,0.1349,339.31,C,C1,10+ years,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,1075358,3000.0,3000.0,3000.0,60,0.1269,67.79,B,B5,1 year,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

### Keeping just the integer values in the 'emp_length' column and eliminating the '+', '<' symbols from the column.

In [22]:
loan1.groupby('emp_length').size().sort_values()

emp_length
9 years       34657
6 years       42950
8 years       43955
7 years       44594
4 years       52529
5 years       55704
1 year        57095
3 years       70026
< 1 year      70605
2 years       78870
10+ years    291569
dtype: int64

In [23]:
loan1['emp_length'] = loan1['emp_length'].str.extract('(\d+)').astype(float)

In [24]:
loan1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,5000.0,5000.0,4975.0,36,0.1065,162.87,B,B2,10.0,...,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN
1,1077430,2500.0,2500.0,2500.0,60,0.1527,59.83,C,C4,1.0,...,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN
2,1077175,2400.0,2400.0,2400.0,36,0.1596,84.33,C,C5,10.0,...,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN
3,1076863,10000.0,10000.0,10000.0,36,0.1349,339.31,C,C1,10.0,...,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN
4,1075358,3000.0,3000.0,3000.0,60,0.1269,67.79,B,B5,1.0,...,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,NaN,NaN

In [25]:
loan1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 45 columns):
id                            887379 non-null int64
loan_amnt                     887379 non-null float64
funded_amnt                   887379 non-null float64
funded_amnt_inv               887379 non-null float64
term                          887379 non-null object
int_rate                      887379 non-null float64
installment                   887379 non-null float64
grade                         887379 non-null object
sub_grade                     887379 non-null object
emp_length                    842554 non-null float64
home_ownership                887379 non-null object
annual_inc                    887375 non-null float64
verification_status           887379 non-null object
issue_d                       887379 non-null object
loan_status                   887379 non-null object
purpose                       887379 non-null object
addr_state                    887379 non-null object
dti                           887379 non-null float64
delinq_2yrs                   887350 non-null float64
earliest_cr_line              887350 non-null object
inq_last_6mths                887350 non-null float64
mths_since_last_delinq        433067 non-null float64
open_acc                      887350 non-null float64
pub_rec                       887350 non-null float64
revol_bal                     887379 non-null float64
revol_util                    886877 non-null float64
total_acc                     887350 non-null float64
initial_list_status           887379 non-null object
out_prncp                     887379 non-null float64
out_prncp_inv                 887379 non-null float64
total_pymnt                   887379 non-null float64
total_pymnt_inv               887379 non-null float64
total_rec_prncp               887379 non-null float64
total_rec_int                 887379 non-null float64
total_rec_late_fee            887379 non-null float64
recoveries                    887379 non-null float64
collection_recovery_fee       887379 non-null float64
last_pymnt_d                  869720 non-null object
last_pymnt_amnt               887379 non-null float64
next_pymnt_d                  634408 non-null object
last_credit_pull_d            887326 non-null object
collections_12_mths_ex_med    887234 non-null float64
tot_coll_amt                  817103 non-null float64
tot_cur_bal                   817103 non-null float64
total_rev_hi_lim              817103 non-null float64
dtypes: float64(30), int64(1), object(14)
memory usage: 304.7+ MB

### Checking the different values in our dependent variable column 'loan_status'.

In [26]:
loan1['loan_status'].value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

### Making a separate column 'Default_Binary' which has 0s for the people who paid the loans, 1s for potential defaulters.

In [27]:
loan1['Default_Binary'] = int(0)

In [28]:
for index, value in loan1['loan_status'].iteritems():
    if value == 'Default':
        loan1.set_value(index,'Default_Binary',int(1))
    if value == 'Charged Off':
        loan1.set_value(index, 'Default_Binary',int(1))
    if value == 'Late (31-120 days)':
        loan1.set_value(index, 'Default_Binary',int(1))    
    if value == 'Late (16-30 days)':
        loan1.set_value(index, 'Default_Binary',int(1))
    if value == 'Does not meet the credit policy. Status:Charged Off':
        loan1.set_value(index, 'Default_Binary',int(1))
    if value == 'In Grace Period':
        loan1.set_value(index, 'Default_Binary',int(1))

C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

In [29]:
loan1['Default_Binary'].value_counts()

0    819950
1     67429
Name: Default_Binary, dtype: int64

In [30]:
loan1.describe()

,id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_length,annual_inc,dti,delinq_2yrs,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,Default_Binary
count,8.873790e+05,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,842554.000000,8.873750e+05,887379.000000,887350.000000,...,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887234.000000,8.171030e+05,8.171030e+05,8.171030e+05,887379.000000
mean,3.246513e+07,14755.264605,14741.877625,14702.464383,0.132467,436.717127,6.092494,7.502759e+04,18.157039,0.314442,...,1754.804327,0.396692,45.919243,4.880757,2164.145585,0.014380,2.257026e+02,1.394582e+05,3.206862e+04,0.075987
std,2.282734e+07,8435.455601,8429.897657,8442.106732,0.043819,244.186593,3.537008,6.469830e+04,17.190626,0.862244,...,2095.356099,4.087825,409.693874,63.125281,4794.783233,0.134191,1.031137e+04,1.537500e+05,3.749826e+04,0.264977
min,5.473400e+04,500.000000,500.000000,0.000000,0.053200,15.670000,1.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,9.206643e+06,8000.000000,8000.000000,8000.000000,0.099900,260.705000,3.000000,4.500000e+04,11.910000,0.000000,...,441.460000,0.000000,0.000000,0.000000,280.170000,0.000000,0.000000e+00,2.985300e+04,1.390000e+04,0.000000
50%,3.443327e+07,13000.000000,13000.000000,13000.000000,0.129900,382.550000,6.000000,6.500000e+04,17.650000,0.000000,...,1073.280000,0.000000,0.000000,0.000000,462.780000,0.000000,0.000000e+00,8.055900e+04,2.370000e+04,0.000000
75%,5.490814e+07,20000.000000,20000.000000,20000.000000,0.162000,572.600000,10.000000,9.000000e+04,23.950000,0.000000,...,2238.265000,0.000000,0.000000,0.000000,831.245000,0.000000,0.000000e+00,2.082050e+05,3.980000e+04,0.000000
max,6.861706e+07,35000.000000,35000.000000,35000.000000,0.289900,1445.460000,10.000000,9.500000e+06,9999.000000,39.000000,...,24205.620000,358.680000,33520.270000,7002.190000,36475.590000,20.000000,9.152545e+06,8.000078e+06,9.999999e+06,1.000000

### Checking the number of null values in all the columns.

In [31]:
null_counts = loan1.isnull().sum()
null_counts[null_counts > 0].sort_values(ascending=False)

mths_since_last_delinq        454312
next_pymnt_d                  252971
total_rev_hi_lim               70276
tot_coll_amt                   70276
tot_cur_bal                    70276
emp_length                     44825
last_pymnt_d                   17659
revol_util                       502
collections_12_mths_ex_med       145
last_credit_pull_d                53
total_acc                         29
pub_rec                           29
open_acc                          29
inq_last_6mths                    29
earliest_cr_line                  29
delinq_2yrs                       29
annual_inc                         4
dtype: int64

### Columns *'mths_since_last_delinq', 'next_pymnt_d', 'last_pymnt_d','last_credit_pull_d'* have either too many null values or are insignificant. Hence drop them.

In [32]:
loan1.drop(['mths_since_last_delinq','next_pymnt_d','last_pymnt_d','last_credit_pull_d'], axis=1, inplace=True)

### Fill columns *'total_rev_hi_lim','tot_cur_bal'* with their median values.

In [33]:
loan1['total_rev_hi_lim'].fillna(loan1['total_rev_hi_lim'].median(), inplace=True)

In [34]:
loan1['tot_cur_bal'].fillna(loan1['tot_cur_bal'].median(), inplace=True)

### Columns *'tot_coll_amt', 'collections_12_mths_ex_med','earliest_cr_line'* have more than 75 percentile zero values. Hence drop them.

In [35]:
loan1.drop(['tot_coll_amt','collections_12_mths_ex_med','earliest_cr_line'], axis=1, inplace=True)

### Dropping null values from *'revol_util', 'total_acc', 'annual_inc', 'delinq_2yrs', 'inq_last_6mths', 'open_acc','emp_length'*.

In [36]:
loan1.dropna(subset=['revol_util', 'total_acc', 'annual_inc', 'delinq_2yrs', 'inq_last_6mths', 'open_acc','emp_length'], inplace = True)

In [37]:
loan1.isnull().sum()

id                         0
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
initial_list_status        0
out_prncp                  0
out_prncp_inv              0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
total_rec_late_fee         0
recoveries                 0
collection_recovery_fee    0
last_pymnt_amnt            0
tot_cur_bal                0
total_rev_hi_lim           0
Default_Binary             0
dtype: int64

#### Hence no null values.

In [38]:
loan1['grade'].value_counts()

B    241715
C    233049
A    141212
D    131650
E     67197
F     21981
G      5263
Name: grade, dtype: int64

### Dropping *'sub_grade'* column because it is same as column 'grade' and drop 'loan_status' column as it's already been modified to 'Default_Binary'. Also 'issue_d' doesn't bring any significance.

In [39]:
loan1.drop('sub_grade', axis=1, inplace=True)

In [40]:
loan1.drop('loan_status', axis=1, inplace=True)

In [41]:
loan1.drop('issue_d', axis=1, inplace=True)

### Convert 'term' column to string, so that later we can convert it into dummy variable columns.

In [42]:
loan1['term'].value_counts()

36    584588
60    257479
Name: term, dtype: int64

In [43]:
loan1['term'] = loan1['term'].apply(str)

In [44]:
loan1['term'].unique()

array(['36', '60'], dtype=object)

### In the column *'verification_status'*, 'Source Verfied' and 'Verfied' are the same thing. So I am putting them together.

In [45]:
loan1['verification_status'].value_counts()

Source Verified    321070
Not Verified       261706
Verified           259291
Name: verification_status, dtype: int64

In [46]:
loan1['verification_status']=np.where(loan1['verification_status'] =='Source Verified', 'Verified', loan1['verification_status'])

In [47]:
loan1['verification_status'].value_counts()

Verified        580361
Not Verified    261706
Name: verification_status, dtype: int64

In [48]:
loan1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842067 entries, 0 to 887378
Data columns (total 36 columns):
id                         842067 non-null int64
loan_amnt                  842067 non-null float64
funded_amnt                842067 non-null float64
funded_amnt_inv            842067 non-null float64
term                       842067 non-null object
int_rate                   842067 non-null float64
installment                842067 non-null float64
grade                      842067 non-null object
emp_length                 842067 non-null float64
home_ownership             842067 non-null object
annual_inc                 842067 non-null float64
verification_status        842067 non-null object
purpose                    842067 non-null object
addr_state                 842067 non-null object
dti                        842067 non-null float64
delinq_2yrs                842067 non-null float64
inq_last_6mths             842067 non-null float64
open_acc                   842067 non-null float64
pub_rec                    842067 non-null float64
revol_bal                  842067 non-null float64
revol_util                 842067 non-null float64
total_acc                  842067 non-null float64
initial_list_status        842067 non-null object
out_prncp                  842067 non-null float64
out_prncp_inv              842067 non-null float64
total_pymnt                842067 non-null float64
total_pymnt_inv            842067 non-null float64
total_rec_prncp            842067 non-null float64
total_rec_int              842067 non-null float64
total_rec_late_fee         842067 non-null float64
recoveries                 842067 non-null float64
collection_recovery_fee    842067 non-null float64
last_pymnt_amnt            842067 non-null float64
tot_cur_bal                842067 non-null float64
total_rev_hi_lim           842067 non-null float64
Default_Binary             842067 non-null int64
dtypes: float64(27), int64(2), object(7)
memory usage: 237.7+ MB

In [49]:
loan1.describe()

,id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_length,annual_inc,dti,delinq_2yrs,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,tot_cur_bal,total_rev_hi_lim,Default_Binary
count,8.420670e+05,842067.000000,842067.000000,842067.000000,842067.000000,842067.000000,842067.000000,8.420670e+05,842067.000000,842067.000000,...,842067.000000,842067.000000,842067.000000,842067.000000,842067.000000,842067.000000,842067.000000,8.420670e+05,8.420670e+05,842067.000000
mean,3.229651e+07,14915.479321,14901.623653,14860.788718,0.132441,440.779140,6.092687,7.634501e+04,18.061077,0.317167,...,7636.371529,5848.633123,1779.813643,0.402708,46.678889,4.942912,2208.658213,1.370150e+05,3.156022e+04,0.075595
std,2.283883e+07,8449.246664,8443.760839,8457.198501,0.043856,244.625379,3.536933,6.563192e+04,8.277712,0.865776,...,7909.685793,6684.673420,2113.590762,4.123112,414.111086,63.798426,4853.217955,1.495759e+05,3.636066e+04,0.264349
min,5.473400e+04,500.000000,500.000000,0.000000,0.053200,15.670000,1.000000,1.896000e+03,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
25%,9.046392e+06,8325.000000,8325.000000,8150.000000,0.099900,263.930000,3.000000,4.700000e+04,11.880000,0.000000,...,1949.565000,1229.445000,452.050000,0.000000,0.000000,0.000000,285.050000,3.346050e+04,1.490000e+04,0.000000
50%,3.431297e+07,13200.000000,13200.000000,13150.000000,0.129900,386.740000,6.000000,6.500000e+04,17.580000,0.000000,...,4976.400000,3291.250000,1094.150000,0.000000,0.000000,0.000000,469.290000,8.055900e+04,2.370000e+04,0.000000
75%,5.452419e+07,20000.000000,20000.000000,20000.000000,0.162000,577.500000,10.000000,9.000000e+04,23.830000,0.000000,...,10736.405000,8000.000000,2272.870000,0.000000,0.000000,0.000000,844.750000,1.989240e+05,3.800000e+04,0.000000
max,6.861706e+07,35000.000000,35000.000000,35000.000000,0.289900,1445.460000,10.000000,9.500000e+06,380.530000,39.000000,...,57777.580000,35000.030000,24205.620000,358.680000,33520.270000,7002.190000,36475.590000,8.000078e+06,9.999999e+06,1.000000

### Columns [*'delinq_2yrs', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'inq_last_6mths', 'pub_record'*] are very skewed towards zero (75% are zeros). Let's make it categorical: no when the columns == 0 and yes when they're > 0

In [50]:
loan1['delinq_2yrs_cat'] = 'no'
loan1.loc[loan1['delinq_2yrs']> 0,'delinq_2yrs_cat'] = 'yes'

loan1['inq_last_6mths_cat'] = 'no'
loan1.loc[loan1['inq_last_6mths']> 0,'inq_last_6mths_cat'] = 'yes'

loan1['total_rec_late_fee_cat'] = 'no'
loan1.loc[loan1['total_rec_late_fee']> 0,'total_rec_late_fee_cat'] = 'yes'

loan1['recoveries_cat'] = 'no'
loan1.loc[loan1['recoveries']> 0,'recoveries_cat'] = 'yes'

loan1['collection_recovery_fee_cat'] = 'no'
loan1.loc[loan1['collection_recovery_fee']> 0,'collection_recovery_fee_cat'] = 'yes'

loan1['pub_rec_cat'] = 'no'
loan1.loc[loan1['pub_rec']> 0,'pub_rec_cat'] = 'yes'

In [51]:
## Dropping the original columns:

In [52]:
loan1.drop(['delinq_2yrs','inq_last_6mths','total_rec_late_fee','recoveries','collection_recovery_fee','pub_rec'], axis=1, inplace=True)

In [53]:
loan1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842067 entries, 0 to 887378
Data columns (total 36 columns):
id                             842067 non-null int64
loan_amnt                      842067 non-null float64
funded_amnt                    842067 non-null float64
funded_amnt_inv                842067 non-null float64
term                           842067 non-null object
int_rate                       842067 non-null float64
installment                    842067 non-null float64
grade                          842067 non-null object
emp_length                     842067 non-null float64
home_ownership                 842067 non-null object
annual_inc                     842067 non-null float64
verification_status            842067 non-null object
purpose                        842067 non-null object
addr_state                     842067 non-null object
dti                            842067 non-null float64
open_acc                       842067 non-null float64
revol_bal                      842067 non-null float64
revol_util                     842067 non-null float64
total_acc                      842067 non-null float64
initial_list_status            842067 non-null object
out_prncp                      842067 non-null float64
out_prncp_inv                  842067 non-null float64
total_pymnt                    842067 non-null float64
total_pymnt_inv                842067 non-null float64
total_rec_prncp                842067 non-null float64
total_rec_int                  842067 non-null float64
last_pymnt_amnt                842067 non-null float64
tot_cur_bal                    842067 non-null float64
total_rev_hi_lim               842067 non-null float64
Default_Binary                 842067 non-null int64
delinq_2yrs_cat                842067 non-null object
inq_last_6mths_cat             842067 non-null object
total_rec_late_fee_cat         842067 non-null object
recoveries_cat                 842067 non-null object
collection_recovery_fee_cat    842067 non-null object
pub_rec_cat                    842067 non-null object
dtypes: float64(21), int64(2), object(13)
memory usage: 237.7+ MB

### Saving this data into a different csv file - 'Clean_loan.csv'

In [54]:
loan1.to_csv('Cleaned_loan.csv', index = False)