# #Aim: *The aim of this notebook is to clean the dataset and save it in a different csv file*.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
loan1 = pd.read_csv('new_loan.csv', low_memory=False)

In [3]:
loan1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,Default_Binary
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0
4,1075269,1311441,5000.0,5000.0,5000.0,36 months,7.90,156.46,A,A4,...,NaN,Sep-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0

## Loan Data Description	:
#### Data taken from : https://www.kaggle.com/wendykan/lending-club-loan-data

1. *addr_state*	- The state provided by the borrower in the loan application									
2. *annual_inc* - The self-reported annual income provided by the borrower during registration.									
3. *annual_inc_joint* -	The combined self-reported annual income provided by the co-borrowers during registration.			   4. *application_type* -	Indicates whether the loan is an individual application or a joint application with two co-borrowers. 5. *collection_recovery_fee* - post charge off collection fee.									
6. *collections_12_mths_ex_med* - Number of collections in 12 months excluding medical collections.								7. *delinq_2yrs* - The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years. 8. *desc* - Loan description provided by the borrower.									
9. *dti* - A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.									
10. *dti_joint* - A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding     mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income.						11. *earliest_cr_line* - The month the borrower's earliest reported credit line was opened.									
12. *emp_length* - Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. 									
13. *emp_title* - The job title supplied by the Borrower when applying for the loan.									
14. *funded_amnt* -	The total amount committed to that loan at that point in time.									
15. *funded_amnt_inv* - The total amount committed by investors for that loan at that point in time.							16. *grade* - LC assigned loan grade.									
17. *home_ownership* - The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.									
18. *id* - A unique LC assigned ID for the loan listing.									
19. *initial_list_status* -	The initial listing status of the loan. Possible values are – W, F.									
20. *inq_last_6mths* - The number of inquiries in past 6 months (excluding auto and mortgage inquiries).						21. *installment* -	The monthly payment owed by the borrower if the loan originates.									
22. *int_rate* - Interest Rate on the loan.									
23. *is_inc_v* - Indicates if income was verified by LC, not verified, or if the income source was verified.					24. *issue_d* -	The month which the loan was funded.									
25. *last_credit_pull_d* - The most recent month LC pulled credit for this loan.									
26. *last_fico_range_high* - The upper boundary range the borrower’s last FICO pulled belongs to.								27. *last_pymnt_amnt* -	Last total payment amount received.									
28. *last_pymnt_d* - Last month payment was received.									
29. *loan_amnt* - The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.									
30. *loan_status* -	Current status of the loan.									
31. *member_id* - A unique LC assigned Id for the borrower member.									
32. *mths_since_last_delinq* - The number of months since the borrower's last delinquency.									
33. *mths_since_last_major_derog* - Months since most recent 90-day or worse rating.									
34. *mths_since_last_record* - The number of months since the last public record.									
35. *next_pymnt_d* - Next scheduled payment date.									
36. *open_acc* - The number of open credit lines in the borrower's credit file.									
37. *out_prncp* - Remaining outstanding principal for total amount funded.									
38. *out_prncp_inv* - Remaining outstanding principal for portion of total amount funded by investors.							39. *policy_code* -	publicly available policy_code=1, new products not publicly available policy_code=2.						40. *pub_rec* -	Number of derogatory public records.									
41. *purpose* -	A category provided by the borrower for the loan request. 									
42. *pymnt_plan* - Indicates if a payment plan has been put in place for the loan.									
43. *recoveries* - post charge off gross recovery.									
44. *revol_bal* - Total credit revolving balance.									
45. *revol_util* - Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.									
46. *sub_grade* - LC assigned loan subgrade.									
47. *term* - The number of payments on the loan. Values are in months and can be either 36 or 60.								48. *title* - The loan title provided by the borrower.									
49. *total_acc* - The total number of credit lines currently in the borrower's credit file.									
50. *total_pymnt* -	Payments received to date for total amount funded.									
51. *total_pymnt_inv* -	Payments received to date for portion of total amount funded by investors.								52. *total_rec_int* - Interest received to date.									
53. *total_rec_late_fee* - Late fees received to date.									
54. *total_rec_prncp* -	Principal received to date.									
55. *url* -	URL for the LC page with listing data.									
56. *verified_status_joint* - Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified.									
57. *zip_code* - The first 3 numbers of the zip code provided by the borrower in the loan application.							58. *open_acc_6m* -	Number of open trades in last 6 months.									
59. *open_il_6m* - Number of currently active installment trades.									
60. *open_il_12m* -	Number of installment accounts opened in past 12 months.									
61. *open_il_24m* -	Number of installment accounts opened in past 24 months.									
62. *mths_since_rcnt_il* - Months since most recent installment accounts opened.									
63. *total_bal_il* - Total current balance of all installment accounts.									
64. *il_util* -	Ratio of total current balance to high credit/credit limit on all install acct.									
65. *open_rv_12m* -	Number of revolving trades opened in past 12 months.									
66. *open_rv_24m* -	Number of revolving trades opened in past 24 months.									
67. *max_bal_bc* -	Maximum current balance owed on all revolving accounts.									
68. *all_util* - Balance to credit limit on all trades.									
69. *total_rev_hi_limb* - Total revolving high credit/credit limit.									
70. *inq_fi* - Number of personal finance inquiries.									
71. *total_cu_tl* -	Number of finance trades.									
72. *inq_last_12m* - Number of credit inquiries in past 12 months.									
73. *acc_now_delinq* - The number of accounts on which the borrower is now delinquent.									
74. *tot_coll_amt* - Total collection amounts ever owed.									
75. *tot_cur_bal* -	Total current balance of all accounts.

In [4]:
loan1.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'pymnt_plan', 'url', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'Default_Binary'],
      dtype='object')

In [5]:
len(loan1.columns)

53

### Checking the different values in the column 'application_type'

In [6]:
loan1.groupby('application_type').size().sort_values()

application_type
JOINT              3
INDIVIDUAL    269773
dtype: int64

### Dropping the column 'application_type' due to skewed data.

In [7]:
loan1.drop(['application_type'], axis=1, inplace=True)

### We can see that 'policy_code' is just a bunch of 1s. Therefore we can drop the column.

In [8]:
loan1.groupby('policy_code').size().sort_values()

policy_code
1.0    269776
dtype: int64

### We can see 'pymnt_plan' is skewed towards 'n'. So we can drop it.

In [9]:
loan1.groupby('pymnt_plan').size().sort_values()

pymnt_plan
y         7
n    269769
dtype: int64

### We can see that 'emp_title', 'zipcode', 'title', 'url' are just a bunch of strings which are not very significant. Hence we can drop them.

In [10]:
loan1['emp_title'].head()

0                     NaN
1                   Ryder
2                     NaN
3     AIR RESOURCES BOARD
4    Veolia Transportaton
Name: emp_title, dtype: object

In [11]:
loan1['url'].head()

0    https://www.lendingclub.com/browse/loanDetail....
1    https://www.lendingclub.com/browse/loanDetail....
2    https://www.lendingclub.com/browse/loanDetail....
3    https://www.lendingclub.com/browse/loanDetail....
4    https://www.lendingclub.com/browse/loanDetail....
Name: url, dtype: object

### We can also eliminate 'acc_now_delinq' as it contains 0 mostly.

In [12]:
loan1['acc_now_delinq'].describe()

count    269751.000000
mean          0.003362
std           0.062862
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.000000
Name: acc_now_delinq, dtype: float64

In [13]:
loan1.groupby('acc_now_delinq').size().sort_values()

acc_now_delinq
4.0         2
5.0         2
3.0         3
2.0        40
1.0       800
0.0    268904
dtype: int64

### Hence we drop all the above mentioned columns.

In [14]:
delete = ['policy_code', 'pymnt_plan', 'url', 'member_id', 'acc_now_delinq','emp_title', 'zip_code','title']
loan1.drop(delete, axis=1, inplace=True)

In [15]:
loan1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,Default_Binary
0,1077501,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,10+ years,...,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN,0
1,1077430,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,< 1 year,...,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN,1
2,1077175,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,10+ years,...,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN,0
3,1076863,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,10+ years,...,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN,0
4,1075269,5000.0,5000.0,5000.0,36 months,7.90,156.46,A,A4,3 years,...,0.00,Jan-2015,161.03,NaN,Sep-2015,0.0,NaN,NaN,NaN,0

In [16]:
loan1.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'purpose', 'addr_state',
       'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim', 'Default_Binary'],
      dtype='object')

In [17]:
loan1.describe()

,id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,Default_Binary
count,2.697760e+05,269776.000000,269776.000000,269776.000000,269776.000000,269776.000000,269776.000000,269776.000000,269751.000000,269751.000000,...,269776.000000,269776.000000,269776.000000,269776.000000,269776.000000,269636.000000,2.034260e+05,2.034260e+05,2.034260e+05,269776.000000
mean,1.313419e+07,13584.260831,13544.455678,13431.782494,13.892806,418.147395,70594.172529,16.735905,0.258094,0.884512,...,1968.676747,0.902153,150.230408,15.949352,6050.277144,0.007336,2.048456e+02,1.351608e+05,2.921975e+04,0.226132
std,1.545439e+07,8127.206290,8106.513053,8140.977783,4.412261,244.178970,38366.423211,7.847899,0.759333,1.153317,...,2091.623499,6.156283,727.007842,112.602734,7231.547083,0.093188,2.035834e+04,1.437347e+05,2.759875e+04,0.418326
min,5.473400e+04,500.000000,500.000000,0.000000,5.320000,15.670000,1896.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,1.477206e+06,7350.000000,7250.000000,7200.000000,10.990000,240.520000,45000.000000,10.900000,0.000000,0.000000,...,635.127500,0.000000,0.000000,0.000000,432.920000,0.000000,0.000000e+00,2.822500e+04,1.320000e+04,0.000000
50%,6.695138e+06,12000.000000,12000.000000,11975.000000,13.670000,365.300000,62000.000000,16.400000,0.000000,1.000000,...,1324.220000,0.000000,0.000000,0.000000,3256.235000,0.000000,0.000000e+00,7.841600e+04,2.210000e+04,0.000000
75%,1.901503e+07,18350.000000,18200.000000,18000.000000,16.780000,547.430000,86000.000000,22.220000,0.000000,1.000000,...,2512.382500,0.000000,0.000000,0.000000,9459.425000,0.000000,0.000000e+00,2.051590e+05,3.640000e+04,0.000000
max,6.860466e+07,35000.000000,35000.000000,35000.000000,28.990000,1424.570000,304800.000000,57.140000,29.000000,33.000000,...,22777.580000,358.680000,33520.270000,7002.190000,36475.590000,6.000000,9.152545e+06,3.610743e+06,1.035000e+06,1.000000

### Separating the integer value of months from the string value in the 'term' column.

In [18]:
loan1['term'] = loan1['term'].str.split(' ').str[1]
loan1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,Default_Binary
0,1077501,5000.0,5000.0,4975.0,36,10.65,162.87,B,B2,10+ years,...,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN,0
1,1077430,2500.0,2500.0,2500.0,60,15.27,59.83,C,C4,< 1 year,...,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN,1
2,1077175,2400.0,2400.0,2400.0,36,15.96,84.33,C,C5,10+ years,...,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN,0
3,1076863,10000.0,10000.0,10000.0,36,13.49,339.31,C,C1,10+ years,...,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN,0
4,1075269,5000.0,5000.0,5000.0,36,7.90,156.46,A,A4,3 years,...,0.00,Jan-2015,161.03,NaN,Sep-2015,0.0,NaN,NaN,NaN,0

### Making the interest rate values between 0 and 1.

In [19]:
loan1['int_rate'] = loan1.int_rate.astype(float)/100.
loan1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,Default_Binary
0,1077501,5000.0,5000.0,4975.0,36,0.1065,162.87,B,B2,10+ years,...,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN,0
1,1077430,2500.0,2500.0,2500.0,60,0.1527,59.83,C,C4,< 1 year,...,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN,1
2,1077175,2400.0,2400.0,2400.0,36,0.1596,84.33,C,C5,10+ years,...,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN,0
3,1076863,10000.0,10000.0,10000.0,36,0.1349,339.31,C,C1,10+ years,...,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN,0
4,1075269,5000.0,5000.0,5000.0,36,0.0790,156.46,A,A4,3 years,...,0.00,Jan-2015,161.03,NaN,Sep-2015,0.0,NaN,NaN,NaN,0

### Keeping just the integer values in the 'emp_length' column and eliminating the '+', '<' symbols from the column.

In [20]:
loan1.groupby('emp_length').size().sort_values()

emp_length
9 years      10220
8 years      12639
7 years      14907
6 years      15616
4 years      17225
1 year       18163
5 years      19080
3 years      21772
< 1 year     22617
2 years      25150
10+ years    81530
dtype: int64

In [21]:
loan1['emp_length'].isnull().sum()

10857

In [22]:
loan1['emp_length'] = loan1['emp_length'].str.extract('(\d+)').astype(float)

In [23]:
loan1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,Default_Binary
0,1077501,5000.0,5000.0,4975.0,36,0.1065,162.87,B,B2,10.0,...,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,NaN,NaN,0
1,1077430,2500.0,2500.0,2500.0,60,0.1527,59.83,C,C4,1.0,...,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,NaN,NaN,1
2,1077175,2400.0,2400.0,2400.0,36,0.1596,84.33,C,C5,10.0,...,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,NaN,NaN,0
3,1076863,10000.0,10000.0,10000.0,36,0.1349,339.31,C,C1,10.0,...,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,NaN,NaN,0
4,1075269,5000.0,5000.0,5000.0,36,0.0790,156.46,A,A4,3.0,...,0.00,Jan-2015,161.03,NaN,Sep-2015,0.0,NaN,NaN,NaN,0

In [24]:
loan1['emp_length'].fillna(0, inplace=True)   #New self - employed people fill their 'emp_length' as 0.

In [25]:
loan1['emp_length'].value_counts()

10.0    81530
1.0     40780
2.0     25150
3.0     21772
5.0     19080
4.0     17225
6.0     15616
7.0     14907
8.0     12639
0.0     10857
9.0     10220
Name: emp_length, dtype: int64

In [26]:
loan1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269776 entries, 0 to 269775
Data columns (total 44 columns):
id                            269776 non-null int64
loan_amnt                     269776 non-null float64
funded_amnt                   269776 non-null float64
funded_amnt_inv               269776 non-null float64
term                          269776 non-null object
int_rate                      269776 non-null float64
installment                   269776 non-null float64
grade                         269776 non-null object
sub_grade                     269776 non-null object
emp_length                    269776 non-null float64
home_ownership                269776 non-null object
annual_inc                    269776 non-null float64
verification_status           269776 non-null object
issue_d                       269776 non-null object
purpose                       269776 non-null object
addr_state                    269776 non-null object
dti                           269776 non-null float64
delinq_2yrs                   269751 non-null float64
earliest_cr_line              269751 non-null object
inq_last_6mths                269751 non-null float64
open_acc                      269751 non-null float64
pub_rec                       269751 non-null float64
revol_bal                     269776 non-null float64
revol_util                    269533 non-null float64
total_acc                     269751 non-null float64
initial_list_status           269776 non-null object
out_prncp                     269776 non-null float64
out_prncp_inv                 269776 non-null float64
total_pymnt                   269776 non-null float64
total_pymnt_inv               269776 non-null float64
total_rec_prncp               269776 non-null float64
total_rec_int                 269776 non-null float64
total_rec_late_fee            269776 non-null float64
recoveries                    269776 non-null float64
collection_recovery_fee       269776 non-null float64
last_pymnt_d                  269071 non-null object
last_pymnt_amnt               269776 non-null float64
next_pymnt_d                  17823 non-null object
last_credit_pull_d            269752 non-null object
collections_12_mths_ex_med    269636 non-null float64
tot_coll_amt                  203426 non-null float64
tot_cur_bal                   203426 non-null float64
total_rev_hi_lim              203426 non-null float64
Default_Binary                269776 non-null int64
dtypes: float64(29), int64(2), object(13)
memory usage: 90.6+ MB

### Checking the number of null values in all the columns.

In [27]:
null_counts = loan1.isnull().sum()
null_counts[null_counts > 0].sort_values(ascending=False)

next_pymnt_d                  251953
total_rev_hi_lim               66350
tot_cur_bal                    66350
tot_coll_amt                   66350
last_pymnt_d                     705
revol_util                       243
collections_12_mths_ex_med       140
total_acc                         25
pub_rec                           25
open_acc                          25
inq_last_6mths                    25
earliest_cr_line                  25
delinq_2yrs                       25
last_credit_pull_d                24
dtype: int64

### Columns * 'next_pymnt_d', 'last_pymnt_d','last_credit_pull_d'* have either too many null values or are insignificant. Hence drop them.

In [28]:
loan1.drop(['next_pymnt_d','last_pymnt_d','last_credit_pull_d','addr_state'], axis=1, inplace=True)

### Fill columns *'total_rev_hi_lim','tot_cur_bal'* with their median values.

In [29]:
loan1['total_rev_hi_lim'].fillna(loan1['total_rev_hi_lim'].median(), inplace=True)

In [30]:
loan1['tot_cur_bal'].fillna(loan1['tot_cur_bal'].median(), inplace=True)

### Columns *'tot_coll_amt', 'collections_12_mths_ex_med','earliest_cr_line'* have more than 75 percentile zero values. Hence drop them.

In [31]:
loan1.drop(['tot_coll_amt','collections_12_mths_ex_med','earliest_cr_line'], axis=1, inplace=True)

### Dropping null values from *'pub_rec','revol_util', 'total_acc', 'annual_inc', 'delinq_2yrs', 'inq_last_6mths', 'open_acc','emp_length'*.

In [32]:
loan1.dropna(subset=['pub_rec','revol_util', 'total_acc', 'annual_inc', 'delinq_2yrs', 'inq_last_6mths', 'open_acc','emp_length'], inplace = True)

In [33]:
loan1.isnull().sum()

id                         0
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
purpose                    0
dti                        0
delinq_2yrs                0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
initial_list_status        0
out_prncp                  0
out_prncp_inv              0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
total_rec_late_fee         0
recoveries                 0
collection_recovery_fee    0
last_pymnt_amnt            0
tot_cur_bal                0
total_rev_hi_lim           0
Default_Binary             0
dtype: int64

#### Hence no null values.

### Dropping *'sub_grade'* column because it is same as column 'grade' and drop 'loan_status' column as it's already been modified to 'Default_Binary'. Also 'issue_d' doesn't bring any significance.

In [34]:
loan1.drop(['sub_grade','issue_d'], axis=1, inplace=True)

### Convert 'term' column to string, so that later we can convert it into dummy variable columns.

In [35]:
loan1['term'].unique()

array(['36', '60'], dtype=object)

In [36]:
loan1['term'].value_counts()

36    207279
60     62254
Name: term, dtype: int64

In [37]:
loan1[['funded_amnt','funded_amnt_inv','loan_amnt']].head()

   funded_amnt  funded_amnt_inv  loan_amnt
0       5000.0           4975.0     5000.0
1       2500.0           2500.0     2500.0
2       2400.0           2400.0     2400.0
3      10000.0          10000.0    10000.0
4       5000.0           5000.0     5000.0

* We can see that all the 3 columns are same, so we can eliminate 2 of those columns. I will drop 'funded_amnt' and 'funded_amnt_inv'.

In [38]:
loan1.drop(['funded_amnt','funded_amnt_inv'], axis=1, inplace=True)

### In the column *'verification_status'*, 'Source Verified' and 'Verified' are the same thing. So I am putting them together.

In [39]:
loan1['verification_status'].value_counts()

Verified           98634
Not Verified       90949
Source Verified    79950
Name: verification_status, dtype: int64

In [40]:
loan1['verification_status']=np.where(loan1['verification_status'] =='Source Verified', 'Verified', loan1['verification_status'])

In [41]:
loan1['verification_status'].value_counts()

Verified        178584
Not Verified     90949
Name: verification_status, dtype: int64

### Columns [*'delinq_2yrs', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'inq_last_6mths', 'pub_rec'*] are very skewed towards zero (75% are zeros). Let's make it categorical: no when the columns == 0 and yes when they're > 0

In [42]:
recs_zero = (len(loan1[loan1['pub_rec']==0])/len(loan1))*100
print("We need to drop this 'pub_rec' column because {0:.2f}% of values are zero.".format(recs_zero))

We need to drop this 'pub_rec' column because 87.50% of values are zero.

In [43]:
delinq_zero = (len(loan1[loan1['delinq_2yrs']==0])/len(loan1))*100
print("We need to drop this 'delinq_2yrs' column because {0:.2f}% of values are zero.".format(delinq_zero))

We need to drop this 'delinq_2yrs' column because 83.54% of values are zero.

In [44]:
inq_zero = (len(loan1[loan1['inq_last_6mths']==0])/len(loan1))*100
print("We won't drop this 'inq_last_6mths' column because just {0:.2f}% of values are zero.".format(inq_zero))

We won't drop this 'inq_last_6mths' column because just 48.58% of values are zero.

In [45]:
tot_zero = (len(loan1[loan1['total_rec_late_fee']==0])/len(loan1))*100
print("We need to drop this 'total_rec_late_fee' column because {0:.2f}% of values are zero.".format(tot_zero))

We need to drop this 'total_rec_late_fee' column because 96.82% of values are zero.

In [46]:
rec_zero = (len(loan1[loan1['recoveries']==0])/len(loan1))*100
print("We need to drop this 'recoveries' column because {0:.2f}% of values are zero.".format(rec_zero))

We need to drop this 'recoveries' column because 90.88% of values are zero.

In [47]:
coll_zero = (len(loan1[loan1['collection_recovery_fee']==0])/len(loan1))*100
print("We need to drop this 'collection_recovery_fee' column because {0:.2f}% of values are zero.".format(coll_zero))

We need to drop this 'collection_recovery_fee' column because 91.32% of values are zero.

In [48]:
loan1.drop(['delinq_2yrs','total_rec_late_fee','recoveries','collection_recovery_fee','pub_rec'], axis=1, inplace=True)

In [49]:
loan1['inq_last_6mths'].value_counts()

0.0     130942
1.0      77132
2.0      36682
3.0      16931
4.0       4658
5.0       1921
6.0        819
7.0        189
8.0        117
9.0         49
10.0        23
12.0        15
11.0        15
15.0         9
13.0         6
14.0         5
18.0         4
16.0         3
19.0         2
17.0         2
24.0         2
28.0         1
31.0         1
32.0         1
25.0         1
33.0         1
20.0         1
27.0         1
Name: inq_last_6mths, dtype: int64

In [50]:
loan1['inq_last_6mths_cat'] = int(0)
for index, value in loan1['inq_last_6mths'].iteritems():
    if value > 0:
        loan1.set_value(index,'inq_last_6mths_cat',int(1))

C:\Users\sanjo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [51]:
loan1['inq_last_6mths_cat'].value_counts()

1    138591
0    130942
Name: inq_last_6mths_cat, dtype: int64

In [52]:
loan1.drop(['inq_last_6mths'], axis=1, inplace=True)

In [53]:
loan1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269533 entries, 0 to 269775
Data columns (total 28 columns):
id                     269533 non-null int64
loan_amnt              269533 non-null float64
term                   269533 non-null object
int_rate               269533 non-null float64
installment            269533 non-null float64
grade                  269533 non-null object
emp_length             269533 non-null float64
home_ownership         269533 non-null object
annual_inc             269533 non-null float64
verification_status    269533 non-null object
purpose                269533 non-null object
dti                    269533 non-null float64
open_acc               269533 non-null float64
revol_bal              269533 non-null float64
revol_util             269533 non-null float64
total_acc              269533 non-null float64
initial_list_status    269533 non-null object
out_prncp              269533 non-null float64
out_prncp_inv          269533 non-null float64
total_pymnt            269533 non-null float64
total_pymnt_inv        269533 non-null float64
total_rec_prncp        269533 non-null float64
total_rec_int          269533 non-null float64
last_pymnt_amnt        269533 non-null float64
tot_cur_bal            269533 non-null float64
total_rev_hi_lim       269533 non-null float64
Default_Binary         269533 non-null int64
inq_last_6mths_cat     269533 non-null int64
dtypes: float64(19), int64(3), object(6)
memory usage: 69.6+ MB

In [54]:
loan1['grade'] = loan1['grade'].map({'A':6,'B':5,'C':4,'D':3,'E':2,'F':1,'G':0})
loan1["home_ownership"] = loan1["home_ownership"].map({"MORTGAGE":5,"RENT":4,"OWN":3,"OTHER":2,"NONE":1,"ANY":0})
loan1['purpose'] = loan1['purpose'].map({'debt_consolidation':13,'credit_card':12,'home_improvement':11,'other':10,
                                         'major_purchase':9,'small_business':8,'car':7,'medical':6,'moving':5,
                                         'vacation':4,'house':3,'wedding':2,'renewable_energy':1,'educational':0})

loan1['initial_list_status'] = loan1['initial_list_status'].map({'f':0,'w':1})
loan1['term'] = loan1['term'].map({'36':0, '60':1})
loan1['verification_status'] = loan1['verification_status'].map({'Verified':0,'Not Verified':1})

In [55]:
loan1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269533 entries, 0 to 269775
Data columns (total 28 columns):
id                     269533 non-null int64
loan_amnt              269533 non-null float64
term                   269533 non-null int64
int_rate               269533 non-null float64
installment            269533 non-null float64
grade                  269533 non-null int64
emp_length             269533 non-null float64
home_ownership         269533 non-null int64
annual_inc             269533 non-null float64
verification_status    269533 non-null int64
purpose                269533 non-null int64
dti                    269533 non-null float64
open_acc               269533 non-null float64
revol_bal              269533 non-null float64
revol_util             269533 non-null float64
total_acc              269533 non-null float64
initial_list_status    269533 non-null int64
out_prncp              269533 non-null float64
out_prncp_inv          269533 non-null float64
total_pymnt            269533 non-null float64
total_pymnt_inv        269533 non-null float64
total_rec_prncp        269533 non-null float64
total_rec_int          269533 non-null float64
last_pymnt_amnt        269533 non-null float64
tot_cur_bal            269533 non-null float64
total_rev_hi_lim       269533 non-null float64
Default_Binary         269533 non-null int64
inq_last_6mths_cat     269533 non-null int64
dtypes: float64(19), int64(9)
memory usage: 69.6 MB

### Saving this data into a different csv file - 'Clean_loan.csv'

In [56]:
loan1.to_csv('Cleaned_loan.csv', index = False)