In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import preprocessing

In [22]:
loan4 = pd.read_csv('new_loan1.csv')
loan4.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,emp_length,home_ownership,annual_inc,purpose,...,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,Default_Binary
0,5000.0,5000.0,4975.0,0.1065,162.87,B,10.0,RENT,24000.0,credit_card,...,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,171.62,0
1,2500.0,2500.0,2500.0,0.1527,59.83,C,1.0,RENT,30000.0,car,...,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,119.66,1
2,2400.0,2400.0,2400.0,0.1596,84.33,C,10.0,RENT,12252.0,small_business,...,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,649.91,0
3,10000.0,10000.0,10000.0,0.1349,339.31,C,10.0,RENT,49200.0,other,...,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,357.48,0
4,3000.0,3000.0,3000.0,0.1269,67.79,B,1.0,RENT,80000.0,other,...,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,67.79,0

In [23]:
loan4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 30 columns):
loan_amnt                  887379 non-null float64
funded_amnt                887379 non-null float64
funded_amnt_inv            887379 non-null float64
int_rate                   887379 non-null float64
installment                887379 non-null float64
grade                      887379 non-null object
emp_length                 887379 non-null float64
home_ownership             887379 non-null object
annual_inc                 887379 non-null float64
purpose                    887379 non-null object
addr_state                 887379 non-null object
dti                        887379 non-null float64
delinq_2yrs                887350 non-null float64
inq_last_6mths             887350 non-null float64
open_acc                   887350 non-null float64
pub_rec                    887350 non-null float64
revol_bal                  887379 non-null float64
total_acc                  887350 non-null float64
initial_list_status        887379 non-null object
out_prncp                  887379 non-null float64
out_prncp_inv              887379 non-null float64
total_pymnt                887379 non-null float64
total_pymnt_inv            887379 non-null float64
total_rec_prncp            887379 non-null float64
total_rec_int              887379 non-null float64
total_rec_late_fee         887379 non-null float64
recoveries                 887379 non-null float64
collection_recovery_fee    887379 non-null float64
last_pymnt_amnt            887379 non-null float64
Default_Binary             887379 non-null int64
dtypes: float64(24), int64(1), object(5)
memory usage: 203.1+ MB

In [24]:
loan4.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,Default_Binary
count,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,8.873790e+05,887379.000000,887350.000000,887350.000000,...,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000
mean,14755.264605,14741.877625,14702.464383,0.132467,436.717127,6.087822,7.502759e+04,18.157039,0.314442,0.694623,...,8399.713242,7558.826684,7521.160306,5757.706424,1754.804327,0.396692,45.919243,4.880757,2164.145585,0.075987
std,8435.455601,8429.897657,8442.106732,0.043819,244.186593,3.446576,6.469815e+04,17.190626,0.862244,0.998448,...,8489.997617,7871.243336,7846.108604,6625.441046,2095.356099,4.087825,409.693874,63.125281,4794.783233,0.264977
min,500.000000,500.000000,0.000000,0.053200,15.670000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8000.000000,8000.000000,8000.000000,0.099900,260.705000,3.000000,4.500000e+04,11.910000,0.000000,0.000000,...,0.000000,1914.590000,1899.700000,1200.570000,441.460000,0.000000,0.000000,0.000000,280.170000,0.000000
50%,13000.000000,13000.000000,13000.000000,0.129900,382.550000,6.000000,6.500000e+04,17.650000,0.000000,0.000000,...,6455.810000,4894.999117,4862.010000,3215.320000,1073.280000,0.000000,0.000000,0.000000,462.780000,0.000000
75%,20000.000000,20000.000000,20000.000000,0.162000,572.600000,10.000000,9.000000e+04,23.950000,0.000000,1.000000,...,13654.050000,10616.814231,10565.690000,8000.000000,2238.265000,0.000000,0.000000,0.000000,831.245000,0.000000
max,35000.000000,35000.000000,35000.000000,0.289900,1445.460000,10.000000,9.500000e+06,9999.000000,39.000000,33.000000,...,49372.860000,57777.579870,57777.580000,35000.030000,24205.620000,358.680000,33520.270000,7002.190000,36475.590000,1.000000

#### - The metrics delinq_2yrs is very skewed towards zero (80% are zeros). Let's make it categorical: no when delinq_2yrs == 0 and yes when  delinq_2yrs > 0

#### - Same as above for inq_last_6mths: The number of inquiries in past 6 months (excluding auto and mortgage inquiries).

In [25]:
loan4['delinq_2yrs_cat'] = 'no'
loan4.loc[loan4['delinq_2yrs']> 0,'delinq_2yrs_cat'] = 'yes'

loan4['inq_last_6mths_cat'] = 'no'
loan4.loc[loan4['inq_last_6mths']> 0,'inq_last_6mths_cat'] = 'yes'

loan4['rec_late_fee'] = 'no'
loan4.loc[loan4['total_rec_late_fee']> 0,'rec_late_fee'] = 'yes'

loan4['recoveries_cat'] = 'no'
loan4.loc[loan4['recoveries']> 0,'recoveries_cat'] = 'yes'

loan4['collection_recovery_fee_cat'] = 'no'
loan4.loc[loan4['collection_recovery_fee']> 0,'collection_recovery_fee_cat'] = 'yes'

loan4['pub_rec_cat'] = 'no'
loan4.loc[loan4['recoveries']> 0,'recoveries_cat'] = 'yes'

In [26]:
loan4['pub_rec_cat'] = 'no'
loan4.loc[loan4['pub_rec']> 0,'pub_rec_cat'] = 'yes'

In [27]:
loan4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 36 columns):
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
emp_length                     887379 non-null float64
home_ownership                 887379 non-null object
annual_inc                     887379 non-null float64
purpose                        887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
inq_last_6mths                 887350 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_amnt                887379 non-null float64
Default_Binary                 887379 non-null int64
delinq_2yrs_cat                887379 non-null object
inq_last_6mths_cat             887379 non-null object
rec_late_fee                   887379 non-null object
recoveries_cat                 887379 non-null object
collection_recovery_fee_cat    887379 non-null object
pub_rec_cat                    887379 non-null object
dtypes: float64(24), int64(1), object(11)
memory usage: 243.7+ MB

In [28]:
loan4.drop(['delinq_2yrs','inq_last_6mths','total_rec_late_fee','recoveries','collection_recovery_fee','pub_rec'], axis=1, inplace=True)

In [29]:
loan4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 30 columns):
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
emp_length                     887379 non-null float64
home_ownership                 887379 non-null object
annual_inc                     887379 non-null float64
purpose                        887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
open_acc                       887350 non-null float64
revol_bal                      887379 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
last_pymnt_amnt                887379 non-null float64
Default_Binary                 887379 non-null int64
delinq_2yrs_cat                887379 non-null object
inq_last_6mths_cat             887379 non-null object
rec_late_fee                   887379 non-null object
recoveries_cat                 887379 non-null object
collection_recovery_fee_cat    887379 non-null object
pub_rec_cat                    887379 non-null object
dtypes: float64(18), int64(1), object(11)
memory usage: 203.1+ MB

In [30]:
features = ['delinq_2yrs_cat','inq_last_6mths_cat','rec_late_fee','recoveries_cat','collection_recovery_fee_cat','pub_rec_cat',
           'initial_list_status','purpose','home_ownership','grade']

In [31]:
final_loan = pd.get_dummies(loan4, columns = features)
final_loan.head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_length,annual_inc,addr_state,dti,open_acc,...,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G
0,5000.0,5000.0,4975.0,0.1065,162.87,10.0,24000.0,AZ,27.65,3.0,...,0,0,1,0,1,0,0,0,0,0
1,2500.0,2500.0,2500.0,0.1527,59.83,1.0,30000.0,GA,1.00,3.0,...,0,0,1,0,0,1,0,0,0,0
2,2400.0,2400.0,2400.0,0.1596,84.33,10.0,12252.0,IL,8.72,2.0,...,0,0,1,0,0,1,0,0,0,0
3,10000.0,10000.0,10000.0,0.1349,339.31,10.0,49200.0,CA,20.00,10.0,...,0,0,1,0,0,1,0,0,0,0
4,3000.0,3000.0,3000.0,0.1269,67.79,1.0,80000.0,OR,17.94,15.0,...,0,0,1,0,1,0,0,0,0,0
5,5000.0,5000.0,5000.0,0.0790,156.46,3.0,36000.0,AZ,11.20,9.0,...,0,0,1,1,0,0,0,0,0,0
6,7000.0,7000.0,7000.0,0.1596,170.08,8.0,47004.0,NC,23.51,7.0,...,0,0,1,0,0,1,0,0,0,0
7,3000.0,3000.0,3000.0,0.1864,109.43,9.0,48000.0,CA,5.35,4.0,...,0,0,1,0,0,0,0,1,0,0
8,5600.0,5600.0,5600.0,0.2128,152.39,4.0,40000.0,CA,5.55,11.0,...,0,1,0,0,0,0,0,0,1,0
9,5375.0,5375.0,5350.0,0.1269,121.45,1.0,15000.0,TX,18.08,2.0,...,0,0,1,0,1,0,0,0,0,0

In [32]:
final_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 61 columns):
loan_amnt                          887379 non-null float64
funded_amnt                        887379 non-null float64
funded_amnt_inv                    887379 non-null float64
int_rate                           887379 non-null float64
installment                        887379 non-null float64
emp_length                         887379 non-null float64
annual_inc                         887379 non-null float64
addr_state                         887379 non-null object
dti                                887379 non-null float64
open_acc                           887350 non-null float64
revol_bal                          887379 non-null float64
total_acc                          887350 non-null float64
out_prncp                          887379 non-null float64
out_prncp_inv                      887379 non-null float64
total_pymnt                        887379 non-null float64
total_pymnt_inv                    887379 non-null float64
total_rec_prncp                    887379 non-null float64
total_rec_int                      887379 non-null float64
last_pymnt_amnt                    887379 non-null float64
Default_Binary                     887379 non-null int64
delinq_2yrs_cat_no                 887379 non-null uint8
delinq_2yrs_cat_yes                887379 non-null uint8
inq_last_6mths_cat_no              887379 non-null uint8
inq_last_6mths_cat_yes             887379 non-null uint8
rec_late_fee_no                    887379 non-null uint8
rec_late_fee_yes                   887379 non-null uint8
recoveries_cat_no                  887379 non-null uint8
recoveries_cat_yes                 887379 non-null uint8
collection_recovery_fee_cat_no     887379 non-null uint8
collection_recovery_fee_cat_yes    887379 non-null uint8
pub_rec_cat_no                     887379 non-null uint8
pub_rec_cat_yes                    887379 non-null uint8
initial_list_status_f              887379 non-null uint8
initial_list_status_w              887379 non-null uint8
purpose_car                        887379 non-null uint8
purpose_credit_card                887379 non-null uint8
purpose_debt_consolidation         887379 non-null uint8
purpose_educational                887379 non-null uint8
purpose_home_improvement           887379 non-null uint8
purpose_house                      887379 non-null uint8
purpose_major_purchase             887379 non-null uint8
purpose_medical                    887379 non-null uint8
purpose_moving                     887379 non-null uint8
purpose_other                      887379 non-null uint8
purpose_renewable_energy           887379 non-null uint8
purpose_small_business             887379 non-null uint8
purpose_vacation                   887379 non-null uint8
purpose_wedding                    887379 non-null uint8
home_ownership_ANY                 887379 non-null uint8
home_ownership_MORTGAGE            887379 non-null uint8
home_ownership_NONE                887379 non-null uint8
home_ownership_OTHER               887379 non-null uint8
home_ownership_OWN                 887379 non-null uint8
home_ownership_RENT                887379 non-null uint8
grade_A                            887379 non-null uint8
grade_B                            887379 non-null uint8
grade_C                            887379 non-null uint8
grade_D                            887379 non-null uint8
grade_E                            887379 non-null uint8
grade_F                            887379 non-null uint8
grade_G                            887379 non-null uint8
dtypes: float64(18), int64(1), object(1), uint8(41)
memory usage: 170.1+ MB

In [33]:
final_loan.drop('addr_state', axis = 1, inplace = True)

### standardization.

In [34]:
stand = final_loan[['loan_amnt','funded_amnt','funded_amnt_inv','int_rate','installment','emp_length','annual_inc','dti','open_acc','revol_bal','total_acc','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','last_pymnt_amnt']]

In [35]:
normalized = (stand-stand.mean())/stand.std()
normalized = np.sqrt(normalized*normalized)

In [36]:
final_loan = final_loan.drop(['loan_amnt','funded_amnt','funded_amnt_inv','int_rate','installment','emp_length','annual_inc','dti','open_acc','revol_bal','total_acc','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','last_pymnt_amnt'], 1)

In [37]:
final_loan = pd.concat([final_loan, normalized], axis =1)

In [38]:
final_loan.head()

,Default_Binary,delinq_2yrs_cat_no,delinq_2yrs_cat_yes,inq_last_6mths_cat_no,inq_last_6mths_cat_yes,rec_late_fee_no,rec_late_fee_yes,recoveries_cat_no,recoveries_cat_yes,collection_recovery_fee_cat_no,...,open_acc,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_amnt
0,0,1,0,0,1,1,0,1,0,1,...,1.607667,0.145932,1.373924,0.989365,0.989366,0.215691,0.215314,0.114363,0.426531,0.415561
1,1,1,0,0,1,1,0,0,1,0,...,1.607667,0.679267,1.796201,0.989365,0.989366,0.832158,0.830023,0.800135,0.629790,0.426398
2,0,1,0,0,1,1,0,1,0,1,...,1.795732,0.622683,1.289468,0.989365,0.989366,0.578711,0.575764,0.506790,0.549384,0.315809
3,0,1,0,0,1,0,1,1,0,1,...,0.291213,0.504878,0.990829,0.989365,0.989366,0.592978,0.599678,0.640304,0.216920,0.376798
4,0,1,0,1,0,1,0,1,0,1,...,0.649112,0.484341,1.075285,0.899072,0.899036,0.548408,0.545365,0.531981,0.355899,0.437216

In [45]:
final_loan.isnull().sum()

Default_Binary                      0
delinq_2yrs_cat_no                  0
delinq_2yrs_cat_yes                 0
inq_last_6mths_cat_no               0
inq_last_6mths_cat_yes              0
rec_late_fee_no                     0
rec_late_fee_yes                    0
recoveries_cat_no                   0
recoveries_cat_yes                  0
collection_recovery_fee_cat_no      0
collection_recovery_fee_cat_yes     0
pub_rec_cat_no                      0
pub_rec_cat_yes                     0
initial_list_status_f               0
initial_list_status_w               0
purpose_car                         0
purpose_credit_card                 0
purpose_debt_consolidation          0
purpose_educational                 0
purpose_home_improvement            0
purpose_house                       0
purpose_major_purchase              0
purpose_medical                     0
purpose_moving                      0
purpose_other                       0
purpose_renewable_energy            0
purpose_small_business              0
purpose_vacation                    0
purpose_wedding                     0
home_ownership_ANY                  0
home_ownership_MORTGAGE             0
home_ownership_NONE                 0
home_ownership_OTHER                0
home_ownership_OWN                  0
home_ownership_RENT                 0
grade_A                             0
grade_B                             0
grade_C                             0
grade_D                             0
grade_E                             0
grade_F                             0
grade_G                             0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
int_rate                            0
installment                         0
emp_length                          0
annual_inc                          0
dti                                 0
open_acc                           29
revol_bal                           0
total_acc                          29
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
last_pymnt_amnt                     0
dtype: int64

In [46]:
(final_loan.isnull().sum()/len(final_loan.index))*100

Default_Binary                     0.000000
delinq_2yrs_cat_no                 0.000000
delinq_2yrs_cat_yes                0.000000
inq_last_6mths_cat_no              0.000000
inq_last_6mths_cat_yes             0.000000
rec_late_fee_no                    0.000000
rec_late_fee_yes                   0.000000
recoveries_cat_no                  0.000000
recoveries_cat_yes                 0.000000
collection_recovery_fee_cat_no     0.000000
collection_recovery_fee_cat_yes    0.000000
pub_rec_cat_no                     0.000000
pub_rec_cat_yes                    0.000000
initial_list_status_f              0.000000
initial_list_status_w              0.000000
purpose_car                        0.000000
purpose_credit_card                0.000000
purpose_debt_consolidation         0.000000
purpose_educational                0.000000
purpose_home_improvement           0.000000
purpose_house                      0.000000
purpose_major_purchase             0.000000
purpose_medical                    0.000000
purpose_moving                     0.000000
purpose_other                      0.000000
purpose_renewable_energy           0.000000
purpose_small_business             0.000000
purpose_vacation                   0.000000
purpose_wedding                    0.000000
home_ownership_ANY                 0.000000
home_ownership_MORTGAGE            0.000000
home_ownership_NONE                0.000000
home_ownership_OTHER               0.000000
home_ownership_OWN                 0.000000
home_ownership_RENT                0.000000
grade_A                            0.000000
grade_B                            0.000000
grade_C                            0.000000
grade_D                            0.000000
grade_E                            0.000000
grade_F                            0.000000
grade_G                            0.000000
loan_amnt                          0.000000
funded_amnt                        0.000000
funded_amnt_inv                    0.000000
int_rate                           0.000000
installment                        0.000000
emp_length                         0.000000
annual_inc                         0.000000
dti                                0.000000
open_acc                           0.003268
revol_bal                          0.000000
total_acc                          0.003268
out_prncp                          0.000000
out_prncp_inv                      0.000000
total_pymnt                        0.000000
total_pymnt_inv                    0.000000
total_rec_prncp                    0.000000
total_rec_int                      0.000000
last_pymnt_amnt                    0.000000
dtype: float64

In [48]:
final_loan = final_loan[~np.isnan(final_loan['open_acc'])]

In [49]:
final_loan = final_loan[~np.isnan(final_loan['total_acc'])]

In [50]:
final_loan.isnull().sum()

Default_Binary                     0
delinq_2yrs_cat_no                 0
delinq_2yrs_cat_yes                0
inq_last_6mths_cat_no              0
inq_last_6mths_cat_yes             0
rec_late_fee_no                    0
rec_late_fee_yes                   0
recoveries_cat_no                  0
recoveries_cat_yes                 0
collection_recovery_fee_cat_no     0
collection_recovery_fee_cat_yes    0
pub_rec_cat_no                     0
pub_rec_cat_yes                    0
initial_list_status_f              0
initial_list_status_w              0
purpose_car                        0
purpose_credit_card                0
purpose_debt_consolidation         0
purpose_educational                0
purpose_home_improvement           0
purpose_house                      0
purpose_major_purchase             0
purpose_medical                    0
purpose_moving                     0
purpose_other                      0
purpose_renewable_energy           0
purpose_small_business             0
purpose_vacation                   0
purpose_wedding                    0
home_ownership_ANY                 0
home_ownership_MORTGAGE            0
home_ownership_NONE                0
home_ownership_OTHER               0
home_ownership_OWN                 0
home_ownership_RENT                0
grade_A                            0
grade_B                            0
grade_C                            0
grade_D                            0
grade_E                            0
grade_F                            0
grade_G                            0
loan_amnt                          0
funded_amnt                        0
funded_amnt_inv                    0
int_rate                           0
installment                        0
emp_length                         0
annual_inc                         0
dti                                0
open_acc                           0
revol_bal                          0
total_acc                          0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
last_pymnt_amnt                    0
dtype: int64

### Training the model.

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X= final_loan.drop(['Default_Binary'], axis=1)
y= final_loan['Default_Binary']

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, test_size=0.3, random_state=100)

In [54]:
import statsmodels.api as sm

In [55]:
logr1 = sm.GLM(y_train, (sm.add_constant(X_train)), family = sm.families.Binomial())
logr1.fit().summary()

C:\Users\sanjo\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:1003: RuntimeWarning: divide by zero encountered in true_divide
  return scale * np.sum((endog * np.log(mu/(1 - mu) + 1e-200) +
C:\Users\sanjo\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:1004: RuntimeWarning: divide by zero encountered in log
  np.log(1 - mu)) * freq_weights)
C:\Users\sanjo\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:1004: RuntimeWarning: invalid value encountered in add
  np.log(1 - mu)) * freq_weights)

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:         Default_Binary   No. Observations:               621145
Model:                            GLM   Df Residuals:                   621095
Model Family:                Binomial   Df Model:                           49
Link Function:                  logit   Scale:                             1.0
Method:                          IRLS   Log-Likelihood:                    nan
Date:                Wed, 09 Jan 2019   Deviance:                   2.1367e+05
Time:                        07:02:08   Pearson chi2:                 6.74e+06
No. Iterations:                    28
===================================================================================================
                                      coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                               2.2180   5.49e+04   4.04e-05      1.000   -1.08e+05    1.08e+05
delinq_2yrs_cat_no                  1.1213   2.74e+04   4.09e-05      1.000   -5.38e+04    5.38e+04
delinq_2yrs_cat_yes                 1.0967   2.74e+04      4e-05      1.000   -5.38e+04    5.38e+04
inq_last_6mths_cat_no               1.0046   2.74e+04   3.66e-05      1.000   -5.38e+04    5.38e+04
inq_last_6mths_cat_yes              1.2134   2.74e+04   4.42e-05      1.000   -5.38e+04    5.38e+04
rec_late_fee_no                    -0.0770   2.74e+04  -2.81e-06      1.000   -5.38e+04    5.38e+04
rec_late_fee_yes                    2.2950   2.74e+04   8.37e-05      1.000   -5.38e+04    5.38e+04
recoveries_cat_no                 -17.5301   4.36e+04     -0.000      1.000   -8.55e+04    8.54e+04
recoveries_cat_yes                 19.7481   4.36e+04      0.000      1.000   -8.54e+04    8.55e+04
collection_recovery_fee_cat_no      3.5021   4.39e+04   7.98e-05      1.000    -8.6e+04     8.6e+04
collection_recovery_fee_cat_yes    -1.2842   4.41e+04  -2.92e-05      1.000   -8.63e+04    8.63e+04
pub_rec_cat_no                      1.1446   2.74e+04   4.17e-05      1.000   -5.38e+04    5.38e+04
pub_rec_cat_yes                     1.0734   2.74e+04   3.91e-05      1.000   -5.38e+04    5.38e+04
initial_list_status_f               1.2218   2.74e+04   4.45e-05      1.000   -5.38e+04    5.38e+04
initial_list_status_w               0.9962   2.74e+04   3.63e-05      1.000   -5.38e+04    5.38e+04
purpose_car                        -0.0482   3917.940  -1.23e-05      1.000   -7679.070    7678.973
purpose_credit_card                 0.2384   3917.940   6.08e-05      1.000   -7678.783    7679.260
purpose_debt_consolidation          0.3440   3917.940   8.78e-05      1.000   -7678.677    7679.365
purpose_educational                -0.4707   3917.940     -0.000      1.000   -7679.492    7678.551
purpose_home_improvement            0.2809   3917.940   7.17e-05      1.000   -7678.741    7679.302
purpose_house                       0.2130   3917.940   5.44e-05      1.000   -7678.808    7679.234
purpose_major_purchase              0.1837   3917.940   4.69e-05      1.000   -7678.838    7679.205
purpose_medical                     0.3577   3917.940   9.13e-05      1.000   -7678.664    7679.379
purpose_moving                      0.3083   3917.940   7.87e-05      1.000   -7678.713    7679.330
purpose_other                       0.2474   3917.940   6.31e-05      1.000   -7678.774    7679.269
purpose_renewable_energy            0.0854   3917.940   2.18e-05      1.000   -7678.936    7679.107
purpose_small_business              0.4731   3917.940      0.000      1.000   -7678.548    7679.495
purpose_vacation                    0.3132   3917.940   7.99e-05      1.000   -7678.708    7679.335
purpose_wedding                    -0.3083   3917.940  -7.87e-05      1.000   -7679.330    7678.713
home_ownership_ANY                -22.4100   1.35e+06  -1.66e-05      1.000   -2.64e+06    2.64e+06
home_ownership_MORTGAGE             4.7545   2.59e+05   1.84e-05      1.000   -5.07e+05    5.07e+05
home_ownership_NONE                 5.1028   2.59e+05   1.97e-05      1.000   -5.07e+05    5.07e+05
home_ownership_OTHER                5.0375   2.59e+05   1.95e-05      1.000   -5.07e+05    5.07e+05
home_ownership_OWN                  4.8020   2.59e+05   1.86e-05      1.000   -5.07e+05    5.07e+05
home_ownership_RENT                 4.9312   2.59e+05   1.91e-05      1.000   -5.07e+05    5.07e+05
grade_A                            -1.0506   7835.882     -0.000      1.000   -1.54e+04    1.54e+04
grade_B                            -0.1059   7835.882  -1.35e-05      1.000   -1.54e+04    1.54e+04
grade_C                             0.4264   7835.882   5.44e-05      1.000   -1.54e+04    1.54e+04
grade_D                             0.6100   7835.882   7.78e-05      1.000   -1.54e+04    1.54e+04
grade_E                             0.6937   7835.882   8.85e-05      1.000   -1.54e+04    1.54e+04
grade_F                             0.7780   7835.882   9.93e-05      1.000   -1.54e+04    1.54e+04
grade_G                             0.8664   7835.882      0.000      1.000   -1.54e+04    1.54e+04
loan_amnt                           0.5513      0.186      2.970      0.003       0.187       0.915
funded_amnt                        -1.3427      0.226     -5.948      0.000      -1.785      -0.900
funded_amnt_inv                     0.2617      0.124      2.112      0.035       0.019       0.505
int_rate                            0.2547      0.023     11.159      0.000       0.210       0.299
installment                         0.1928      0.020      9.674      0.000       0.154       0.232
emp_length                         -0.0918      0.013     -6.807      0.000      -0.118      -0.065
annual_inc                          0.0030      0.008      0.390      0.696      -0.012       0.018
dti                                -0.1110      0.022     -5.061      0.000      -0.154      -0.068
open_acc                           -0.0829      0.011     -7.486      0.000      -0.105      -0.061
revol_bal                          -0.0516      0.010     -5.065      0.000      -0.072      -0.032
total_acc                           0.0064      0.011      0.567      0.571      -0.016       0.029
out_prncp                         -17.1348      2.331     -7.352      0.000     -21.703     -12.567
out_prncp_inv                      17.4027      2.331      7.465      0.000      12.833      21.972
total_pymnt                        -1.0991      0.156     -7.030      0.000      -1.406      -0.793
total_pymnt_inv                     1.0542      0.149      7.086      0.000       0.763       1.346
total_rec_prncp                    -0.3527      0.048     -7.405      0.000      -0.446      -0.259
total_rec_int                      -0.0215      0.015     -1.458      0.145      -0.050       0.007
last_pymnt_amnt                    -1.5906      0.039    -40.798      0.000      -1.667      -1.514
===================================================================================================
"""