In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import preprocessing

In [22]:
loan4 = pd.read_csv('new_loan1.csv')
loan4.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,emp_length,home_ownership,annual_inc,purpose,...,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,Default_Binary
0,5000.0,5000.0,4975.0,0.1065,162.87,B,10.0,RENT,24000.0,credit_card,...,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,171.62,0
1,2500.0,2500.0,2500.0,0.1527,59.83,C,1.0,RENT,30000.0,car,...,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,119.66,1
2,2400.0,2400.0,2400.0,0.1596,84.33,C,10.0,RENT,12252.0,small_business,...,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,649.91,0
3,10000.0,10000.0,10000.0,0.1349,339.31,C,10.0,RENT,49200.0,other,...,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,357.48,0
4,3000.0,3000.0,3000.0,0.1269,67.79,B,1.0,RENT,80000.0,other,...,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,67.79,0

In [23]:
loan4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 30 columns):
loan_amnt                  887379 non-null float64
funded_amnt                887379 non-null float64
funded_amnt_inv            887379 non-null float64
int_rate                   887379 non-null float64
installment                887379 non-null float64
grade                      887379 non-null object
emp_length                 887379 non-null float64
home_ownership             887379 non-null object
annual_inc                 887379 non-null float64
purpose                    887379 non-null object
addr_state                 887379 non-null object
dti                        887379 non-null float64
delinq_2yrs                887350 non-null float64
inq_last_6mths             887350 non-null float64
open_acc                   887350 non-null float64
pub_rec                    887350 non-null float64
revol_bal                  887379 non-null float64
total_acc                  887350 non-null float64
initial_list_status        887379 non-null object
out_prncp                  887379 non-null float64
out_prncp_inv              887379 non-null float64
total_pymnt                887379 non-null float64
total_pymnt_inv            887379 non-null float64
total_rec_prncp            887379 non-null float64
total_rec_int              887379 non-null float64
total_rec_late_fee         887379 non-null float64
recoveries                 887379 non-null float64
collection_recovery_fee    887379 non-null float64
last_pymnt_amnt            887379 non-null float64
Default_Binary             887379 non-null int64
dtypes: float64(24), int64(1), object(5)
memory usage: 203.1+ MB

In [24]:
loan4.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,Default_Binary
count,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,8.873790e+05,887379.000000,887350.000000,887350.000000,...,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000
mean,14755.264605,14741.877625,14702.464383,0.132467,436.717127,6.087822,7.502759e+04,18.157039,0.314442,0.694623,...,8399.713242,7558.826684,7521.160306,5757.706424,1754.804327,0.396692,45.919243,4.880757,2164.145585,0.075987
std,8435.455601,8429.897657,8442.106732,0.043819,244.186593,3.446576,6.469815e+04,17.190626,0.862244,0.998448,...,8489.997617,7871.243336,7846.108604,6625.441046,2095.356099,4.087825,409.693874,63.125281,4794.783233,0.264977
min,500.000000,500.000000,0.000000,0.053200,15.670000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8000.000000,8000.000000,8000.000000,0.099900,260.705000,3.000000,4.500000e+04,11.910000,0.000000,0.000000,...,0.000000,1914.590000,1899.700000,1200.570000,441.460000,0.000000,0.000000,0.000000,280.170000,0.000000
50%,13000.000000,13000.000000,13000.000000,0.129900,382.550000,6.000000,6.500000e+04,17.650000,0.000000,0.000000,...,6455.810000,4894.999117,4862.010000,3215.320000,1073.280000,0.000000,0.000000,0.000000,462.780000,0.000000
75%,20000.000000,20000.000000,20000.000000,0.162000,572.600000,10.000000,9.000000e+04,23.950000,0.000000,1.000000,...,13654.050000,10616.814231,10565.690000,8000.000000,2238.265000,0.000000,0.000000,0.000000,831.245000,0.000000
max,35000.000000,35000.000000,35000.000000,0.289900,1445.460000,10.000000,9.500000e+06,9999.000000,39.000000,33.000000,...,49372.860000,57777.579870,57777.580000,35000.030000,24205.620000,358.680000,33520.270000,7002.190000,36475.590000,1.000000

#### - The metrics delinq_2yrs is very skewed towards zero (80% are zeros). Let's make it categorical: no when delinq_2yrs == 0 and yes when  delinq_2yrs > 0

#### - Same as above for inq_last_6mths: The number of inquiries in past 6 months (excluding auto and mortgage inquiries).

In [25]:
loan4['delinq_2yrs_cat'] = 'no'
loan4.loc[loan4['delinq_2yrs']> 0,'delinq_2yrs_cat'] = 'yes'

loan4['inq_last_6mths_cat'] = 'no'
loan4.loc[loan4['inq_last_6mths']> 0,'inq_last_6mths_cat'] = 'yes'

loan4['rec_late_fee'] = 'no'
loan4.loc[loan4['total_rec_late_fee']> 0,'rec_late_fee'] = 'yes'

loan4['recoveries_cat'] = 'no'
loan4.loc[loan4['recoveries']> 0,'recoveries_cat'] = 'yes'

loan4['collection_recovery_fee_cat'] = 'no'
loan4.loc[loan4['collection_recovery_fee']> 0,'collection_recovery_fee_cat'] = 'yes'

loan4['pub_rec_cat'] = 'no'
loan4.loc[loan4['recoveries']> 0,'recoveries_cat'] = 'yes'

In [26]:
loan4['pub_rec_cat'] = 'no'
loan4.loc[loan4['pub_rec']> 0,'pub_rec_cat'] = 'yes'

In [27]:
loan4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 36 columns):
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
emp_length                     887379 non-null float64
home_ownership                 887379 non-null object
annual_inc                     887379 non-null float64
purpose                        887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
inq_last_6mths                 887350 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_amnt                887379 non-null float64
Default_Binary                 887379 non-null int64
delinq_2yrs_cat                887379 non-null object
inq_last_6mths_cat             887379 non-null object
rec_late_fee                   887379 non-null object
recoveries_cat                 887379 non-null object
collection_recovery_fee_cat    887379 non-null object
pub_rec_cat                    887379 non-null object
dtypes: float64(24), int64(1), object(11)
memory usage: 243.7+ MB

In [28]:
loan4.drop(['delinq_2yrs','inq_last_6mths','total_rec_late_fee','recoveries','collection_recovery_fee','pub_rec'], axis=1, inplace=True)

In [29]:
loan4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 30 columns):
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
emp_length                     887379 non-null float64
home_ownership                 887379 non-null object
annual_inc                     887379 non-null float64
purpose                        887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
open_acc                       887350 non-null float64
revol_bal                      887379 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
last_pymnt_amnt                887379 non-null float64
Default_Binary                 887379 non-null int64
delinq_2yrs_cat                887379 non-null object
inq_last_6mths_cat             887379 non-null object
rec_late_fee                   887379 non-null object
recoveries_cat                 887379 non-null object
collection_recovery_fee_cat    887379 non-null object
pub_rec_cat                    887379 non-null object
dtypes: float64(18), int64(1), object(11)
memory usage: 203.1+ MB

In [31]:
features = ['delinq_2yrs_cat','inq_last_6mths_cat','rec_late_fee','recoveries_cat','collection_recovery_fee_cat','pub_rec_cat',
           'initial_list_status','purpose','home_ownership','grade']

In [32]:
final_loan = pd.get_dummies(loan4, columns = features)
final_loan.head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_length,annual_inc,addr_state,dti,open_acc,...,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G
0,5000.0,5000.0,4975.0,0.1065,162.87,10.0,24000.0,AZ,27.65,3.0,...,0,0,1,0,1,0,0,0,0,0
1,2500.0,2500.0,2500.0,0.1527,59.83,1.0,30000.0,GA,1.00,3.0,...,0,0,1,0,0,1,0,0,0,0
2,2400.0,2400.0,2400.0,0.1596,84.33,10.0,12252.0,IL,8.72,2.0,...,0,0,1,0,0,1,0,0,0,0
3,10000.0,10000.0,10000.0,0.1349,339.31,10.0,49200.0,CA,20.00,10.0,...,0,0,1,0,0,1,0,0,0,0
4,3000.0,3000.0,3000.0,0.1269,67.79,1.0,80000.0,OR,17.94,15.0,...,0,0,1,0,1,0,0,0,0,0
5,5000.0,5000.0,5000.0,0.0790,156.46,3.0,36000.0,AZ,11.20,9.0,...,0,0,1,1,0,0,0,0,0,0
6,7000.0,7000.0,7000.0,0.1596,170.08,8.0,47004.0,NC,23.51,7.0,...,0,0,1,0,0,1,0,0,0,0
7,3000.0,3000.0,3000.0,0.1864,109.43,9.0,48000.0,CA,5.35,4.0,...,0,0,1,0,0,0,0,1,0,0
8,5600.0,5600.0,5600.0,0.2128,152.39,4.0,40000.0,CA,5.55,11.0,...,0,1,0,0,0,0,0,0,1,0
9,5375.0,5375.0,5350.0,0.1269,121.45,1.0,15000.0,TX,18.08,2.0,...,0,0,1,0,1,0,0,0,0,0

In [33]:
final_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 61 columns):
loan_amnt                          887379 non-null float64
funded_amnt                        887379 non-null float64
funded_amnt_inv                    887379 non-null float64
int_rate                           887379 non-null float64
installment                        887379 non-null float64
emp_length                         887379 non-null float64
annual_inc                         887379 non-null float64
addr_state                         887379 non-null object
dti                                887379 non-null float64
open_acc                           887350 non-null float64
revol_bal                          887379 non-null float64
total_acc                          887350 non-null float64
out_prncp                          887379 non-null float64
out_prncp_inv                      887379 non-null float64
total_pymnt                        887379 non-null float64
total_pymnt_inv                    887379 non-null float64
total_rec_prncp                    887379 non-null float64
total_rec_int                      887379 non-null float64
last_pymnt_amnt                    887379 non-null float64
Default_Binary                     887379 non-null int64
delinq_2yrs_cat_no                 887379 non-null uint8
delinq_2yrs_cat_yes                887379 non-null uint8
inq_last_6mths_cat_no              887379 non-null uint8
inq_last_6mths_cat_yes             887379 non-null uint8
rec_late_fee_no                    887379 non-null uint8
rec_late_fee_yes                   887379 non-null uint8
recoveries_cat_no                  887379 non-null uint8
recoveries_cat_yes                 887379 non-null uint8
collection_recovery_fee_cat_no     887379 non-null uint8
collection_recovery_fee_cat_yes    887379 non-null uint8
pub_rec_cat_no                     887379 non-null uint8
pub_rec_cat_yes                    887379 non-null uint8
initial_list_status_f              887379 non-null uint8
initial_list_status_w              887379 non-null uint8
purpose_car                        887379 non-null uint8
purpose_credit_card                887379 non-null uint8
purpose_debt_consolidation         887379 non-null uint8
purpose_educational                887379 non-null uint8
purpose_home_improvement           887379 non-null uint8
purpose_house                      887379 non-null uint8
purpose_major_purchase             887379 non-null uint8
purpose_medical                    887379 non-null uint8
purpose_moving                     887379 non-null uint8
purpose_other                      887379 non-null uint8
purpose_renewable_energy           887379 non-null uint8
purpose_small_business             887379 non-null uint8
purpose_vacation                   887379 non-null uint8
purpose_wedding                    887379 non-null uint8
home_ownership_ANY                 887379 non-null uint8
home_ownership_MORTGAGE            887379 non-null uint8
home_ownership_NONE                887379 non-null uint8
home_ownership_OTHER               887379 non-null uint8
home_ownership_OWN                 887379 non-null uint8
home_ownership_RENT                887379 non-null uint8
grade_A                            887379 non-null uint8
grade_B                            887379 non-null uint8
grade_C                            887379 non-null uint8
grade_D                            887379 non-null uint8
grade_E                            887379 non-null uint8
grade_F                            887379 non-null uint8
grade_G                            887379 non-null uint8
dtypes: float64(18), int64(1), object(1), uint8(41)
memory usage: 170.1+ MB

In [34]:
final_loan.drop('addr_state', axis = 1, inplace = True)

### Training the model.

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn import preprocessing

In [39]:
X= final_loan.drop('Default_Binary', axis=1)
y= final_loan['Default_Binary']

In [49]:
X = X.as_matrix().astype(np.float)
y = y.as_matrix().astype(np.float)

In [51]:
def run_models(X_train, y_train, X_test, y_test, model_type = 'Non-balanced'):
    
    clfs = {'GradientBoosting': GradientBoostingClassifier(max_depth= 6, n_estimators=100, max_features = 0.3),
            'LogisticRegression' : LogisticRegression(),
            #'GaussianNB': GaussianNB(),
            'RandomForestClassifier': RandomForestClassifier(n_estimators=10)
            }
    cols = ['model','matthews_corrcoef', 'roc_auc_score', 'precision_score', 'recall_score','f1_score']

    models_report = pd.DataFrame(columns = cols)
    conf_matrix = dict()

    for clf, clf_name in zip(clfs.values(), clfs.keys()):

        clf.fit(X_train, y_train)

        y_pred = clf.predict(X_test)
        y_score = clf.predict_proba(X_test)[:,1]

        print('computing {} - {} '.format(clf_name, model_type))

        tmp = pd.Series({'model_type': model_type,
                         'model': clf_name,
                         'roc_auc_score' : metrics.roc_auc_score(y_test, y_score),
                         'matthews_corrcoef': metrics.matthews_corrcoef(y_test, y_pred),
                         'precision_score': metrics.precision_score(y_test, y_pred),
                         'recall_score': metrics.recall_score(y_test, y_pred),
                         'f1_score': metrics.f1_score(y_test, y_pred)})

        models_report = models_report.append(tmp, ignore_index = True)
        conf_matrix[clf_name] = pd.crosstab(y_test, y_pred, rownames=['True'], colnames= ['Predicted'], margins=False)
        fpr, tpr, thresholds = metrics.roc_curve(y_test, y_score, drop_intermediate = False, pos_label = 1)

        plt.figure(1, figsize=(6,6))
        plt.xlabel('false positive rate')
        plt.ylabel('true positive rate')
        plt.title('ROC curve - {}'.format(model_type))
        plt.plot(fpr, tpr, label = clf_name )
        plt.legend(loc=2, prop={'size':11})
    plt.plot([0,1],[0,1], color = 'black')
    
    return models_report, conf_matrix

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)
models_report, conf_matrix = run_models(X_train, y_train, X_test, y_test, model_type = 'Non-balanced')

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').